@use '../settings/variables' as *;
@use '../tools/mixins/media' as media;

.datasets {
  &__wrapper {
    display: grid;
    grid-template-columns: 312px 1fr;
    margin-top: 2.5rem;

    @include media.narrowerThan('sprout') {
      display: block;
    }
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }

  &__sort {
    display: inline-flex;
  }
}
