@use '../settings/variables' as *;
@use '../tools/mixins/media' as media;

.analysis {
  &__heading {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__content {
    display: grid;
    grid-template-columns: 312px 1fr;
    margin-top: 1.5rem;
    gap: 2rem;

    @include media.narrowerThan('sprout') {
      grid-template-columns: 1fr;
    }
  }

  .filters {
    height: 100%;
    max-height: 700px;
  }

  .viz {
    background-color: $bg-lightest;
    border: 1px solid $bg-lighter;
    border-radius: 6px;
    box-shadow: $box-shadow-1;
    height: clamp(400px, 700px, 700px);
    width: 100%;
    overflow-x: auto;

    &__bar {
      max-height: 590px;
      overflow-y: auto;
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem;

      @include media.narrowerThan('seed') {
        display: block;
      }
    }

    &__tabs {
      display: flex;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;

      li {
        min-width: 0;
      }

      a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
        padding-bottom: 5px;
        min-width: 120%;
        display: block;
        text-align: center;
        border-bottom: 2px solid transparent;

        svg {
          margin-bottom: -3px;
          margin-right: 5px;

          &.svg-stroke {
            stroke: $grey-1;
          }
        }

        &[aria-selected='true'] {
          color: $bg-darkest;
          border-bottom: 2px solid $bg-darkest;

          svg {
            fill: $bg-darkest;

            &.svg-stroke {
              stroke: $bg-darkest;
            }
          }
        }
      }
    }

    figure {
      margin: 1rem 2rem;;
    }
  }

  &__news {
    margin-top: 2rem;

    > div {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    article {
      margin-top: 1.25rem;
      padding: 1.5rem;
      background-color: $bg-lightest;
      border: 1px solid $bg-lighter;
      border-radius: 6px;
      box-shadow: $box-shadow-1;
      width: 48%;

      @include media.narrowerThan('seedling') {
        width: 100%;
      }
    }

    h4 {
      font-weight: 500;
      line-height: 150%;
    }

    p {
      line-height: 156%;
      color: $grey-2;
      margin-top: 1rem;
    }
  }
}
