@use '../settings/variables' as *;
@use '../tools/mixins/media' as media;

.datasets {
  &__wrapper {
    display: grid;
    grid-template-columns: 312px 1fr;
    grid-template-rows: max-content 1fr;
    margin-top: 2.5rem;
    gap: 2rem;

    @include media.narrowerThan('sprout') {
      display: block;
    }
  }

  &__right {
    grid-column: 2/3;
    grid-row: 1/3;

    .search {
      margin-top: 2.5rem;
    }
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }

  &__sort {
    display: inline-flex;

    button {
      margin-left: 1rem;

      svg {
        margin-bottom: -2px;
      }
    }
  }
}
