@use '../settings/variables' as *;
@use '../tools/mixins/media' as media;
@use '../tools/mixins/hover' as hover;

.kpi {
  .carousel {
    margin-top: 0;
  }

  &__heading {
    margin-top: 2.5rem;
    font-weight: 500;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 312px 1fr;
    grid-template-rows: max-content 1fr;
    margin-top: 2.5rem;
    gap: 2rem;

    @include media.narrowerThan('sprout') {
      display: block;
    }
  }

  &__summary {
    grid-column: 1/2;
    padding: 20px 14px;
    background-color: $bg-lightest;
    border-radius: 4px;
    border: 1px solid $bg-lighter;
    box-shadow: $box-shadow-1;
    height: max-content;
    margin-top: 1rem;
    margin-right: 2rem;

    @include media.narrowerThan('sprout') {
      margin: 2rem auto;
    }

    strong {
      margin-top: 2rem;
      display: block;
      line-height: 135%;
      font-size: 1.5rem;
    }

    p {
      margin-top: 4px;
      line-height: 135%;
      color: $text-light-medium;
      font-size: 15px;
    }
  }

  &__explain {
    margin-top: 14px;
    font-weight: normal;
    line-height: 1.5;
  }

  .heading-w-line {
    max-width: 470px;
  }

  &__list {
    margin-top: 20px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(260px, 100%), 1fr));
    gap: 20px;
  }

  &-item {
    background-color: $bg-lightest;
    min-height: 286px;
    box-shadow: $box-shadow-1;
    border-radius: 6px;
    border-radius: 1px solid $bg-lighter;
    @include hover.cardHover;

    @include media.narrowerThan('seedling') {
      width: 100%;
    }

    &__link {
      text-decoration: none;
      padding: 1.25rem 1rem;
      display: block;
      height: 100%;

      section {
        display: grid;
        height: 100%;
        grid-template-rows: repeat(2, max-content) 1fr;
      }
    }

    &__heading,
    &__desc {
      line-height: 156%;
      overflow: hidden;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }

    &__heading {
      font-weight: 500;
    }

    &__desc {
      color: $grey-2;
      margin-top: 0.5rem;
    }

    &__tags {
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
      align-self: flex-end;

      li {
        padding: 8px 16px;
        font-size: 10px;
        border-radius: 18px;
        margin-top: 0.5rem;

        &[data-id='tag-0'] {
          color: $color-violet;
          background-color: $bg-violet-light;
        }

        &[data-id='tag-1'] {
          color: $color-blue;
          background-color: $bg-blue-light;
        }

        &[data-id='tag-2'] {
          color: $color-gold;
          background-color: $bg-gold-light;
        }

        &[data-id='tag-3'] {
          color: $color-pink;
          background-color: $bg-pink-light;
        }
      }
    }
  }
}
