@use '../settings/variables' as *;
@use '../tools/mixins/media' as media;

.kpi {
  .carousel {
    margin-top: 0;
  }

  &__summary {
    grid-column: 1/2;
    padding: 20px 14px;
    background-color: $bg-lightest;
    border-radius: 4px;
    border: 1px solid $bg-lighter;
    box-shadow: $box-shadow-1;
    height: max-content;
    margin-top: 1rem;
    margin-right: 2rem;

    @include media.narrowerThan('sprout') {
      margin: 2rem auto;
    }

    strong {
      margin-top: 2rem;
      display: block;
      line-height: 135%;
      font-size: 1.5rem;
    }

    p {
      margin-top: 4px;
      line-height: 135%;
      color: $text-light-medium;
      font-size: 15px;
    }
  }

  &__explain {
    margin-top: 14px;
  }

  .heading-w-line {
    max-width: 470px;
  }

  .search {
    margin-top: 2.5rem;
  }

  &__list {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include media.narrowerThan('seedling') {
      justify-content: center;
    }
  }

  &__item {
    margin-top: 1rem;
    width: 32%;
    max-width: 400px;
    background-color: $bg-lightest;
    padding: 1.25rem 1rem;
    height: 286px;
    box-shadow: $box-shadow-1;
    border-radius: 6px;
    border-radius: 1px solid $bg-lighter;

    @include media.narrowerThan('tree') {
      width: 48%;
    }
    @include media.narrowerThan('seedling') {
      width: 100%;
    }
  }

  &__link {
    text-decoration: none;

    section {
      display: grid;
      height: 100%;
      grid-template-rows: repeat(2, max-content) 1fr;
    }
  }

  &__heading,
  &__desc {
    line-height: 156%;
    overflow: hidden;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }

  &__heading {
    font-weight: 500;
  }

  &__desc {
    color: $grey-2;
    margin-top: 0.5rem;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: flex-end;

    li {
      width: 49%;
      height: 24px;
      font-size: 10px;
      border-radius: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.5rem;

      &[data-id='coverage'] {
        color: $color-violet;
        background-color: $bg-violet-light;
      }

      &[data-id='value'] {
        color: $color-blue;
        background-color: $bg-blue-light;
      }

      &[data-id='market'] {
        color: $color-gold;
        background-color: $bg-gold-light;
      }

      &[data-id='competetion'] {
        color: $color-pink;
        background-color: $bg-pink-light;
      }
    }
  }
}
