@use '../settings/variables' as *;
@use '../tools/mixins/media' as media;

.tender {
  .container {
    display: flex;
    flex-direction: column;
  }

  .mega-header {
    p {
      font-size: 12px;

      &:first-of-type {
        padding-top: 10px;
      }
    }
  }

  .heading-w-line {
    max-width: 250px;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }

  .dlist {
    margin-top: 1.5rem;
  }

  .btn-primary {
    margin: 0;
    align-self: flex-end;

    @include media.narrowerThan('seed') {
      margin-top: 1rem;
    }
  }

  .total-datasets {
    width: 250px;
    margin-bottom: 1.25rem;
  }

  &__image {
    margin-top: 1.5rem;
    width: 300px;
    padding: 0 2rem;
    border: 1px solid #e9fbf0;
    border-radius: 6px;
    box-shadow: $box-shadow-1;
    background-color: $bg-lightest;
    display: grid;

    img {
      object-fit: contain;
    }
  }

  &__item {
    margin-top: 3rem;

    dt {
      max-width: 25rem;
    }
  }

  &__docs {
    margin-top: 3rem;

    dt {
      max-width: 15rem;
    }
  }

  &__basic {
    margin-top: 1.5rem;

    dt {
      max-width: 12rem;
    }

    // @include media.narrowerThan('sprout') {
    //   flex-direction: column;
    // }
  }

  &__map {
    display: grid;
    grid-template-rows: max-content 1fr;

    &:last-child {
      margin-left: 1.5rem;
    }

    @include media.narrowerThan('sprout') {
      margin-top: 1rem;
      justify-self: center;

      &:last-child {
        margin-left: 0;
      }
    }
  }

  .heading-3 {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
