@use '../settings/variables' as *;
@use '../tools/mixins/media' as media;

.pagination {
  margin-top: 1rem;
  padding: 1.5rem;
  background-color: $bg-lightest;
  border-radius: 12px;
  border: 1px solid #f2eff2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @supports (display: grid) {
    display: grid;
    grid-template-columns: 1fr repeat(3, max-content);

    @include media.narrowerThan('seedling') {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }

  &__rows {
    display: flex;
    align-items: center;
    margin-right: 1rem;

    .select-comp {
      width: 80px;
    }
  }

  &__jump {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-right: 20px;

    @include media.narrowerThan('seedling') {
      border-right: none;
      justify-self: flex-end;
      padding-right: 0;
    }

    input {
      width: 56px;
      height: 40px;
      border-radius: 4px;
      box-shadow: $box-shadow-inset;
      border: 1px solid rgba(0, 0, 0, 0.12);
      text-align: center;
    }
  }

  &__control {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media.narrowerThan('seedling') {
      grid-row: 2/3;
      grid-column: 1/3;
      justify-self: center;
      padding-top: 1rem;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      width: 100%;
      justify-content: space-between;
      margin-left: 0;
    }

    @include media.narrowerThan('seed') {
        justify-content: space-between;
    }

    button {
      border-radius: 4px;
      width: 40px;
      height: 40px;
      cursor: pointer;
    }

    span {
      line-height: 140%;
      font-weight: 500;
      color: $text-light-medium;

      @include media.narrowerThan('seedling') {
        margin: 0 5px;
      }
    }
  }

  &__back {
    background-color: $text-light-disabled;
    margin-left: 1rem;

    &:active {
      transform: scale(0.9);
      background-color: darken($text-light-disabled, 10%);
    }

    svg {
      transform: rotate(180deg);
      fill: $grey-4;
    }
  }

  &__next {
    margin-left: 0.5rem;
    background-color: $bg-darkest;

    &:active {
      transform: scale(0.9);
      background-color: darken($bg-darkest, 10%);
    }

    svg {
      fill: white;
    }
  }
}
