@use '../../settings/variables' as *;
@use '../../tools/mixins/media' as media;

.card {
  &__link {
    text-decoration: none;
    padding: 1.5rem;
    display: block;
    background-color: $bg-lightest;
    border-radius: 6px;
    display: flex;

    > figure {
      margin-right: 1rem;
    }
  }

  &__image {
    object-fit: contain;
  }

  &__heading {
    font-size: 1rem;
    color: $grey-1;
  }

  &__date {
    font-size: 10px;
    line-height: 25px;
    color: $grey-2;
    margin-bottom: 10px;
    display: block;
    font-weight: 500;
  }

  &__content {
    border-top: 2px solid $grey-6;
    padding-top: 1.25rem;
    display: flex;
    flex-wrap: wrap;

    h4 {
      line-height: 140%;
    }

    small {
      font-size: 12px;
      color: $grey-2;
    }
  }

  &__id {
    margin-right: 3rem;
  }

  &__name {
    margin-top: 1.25rem;
    width: 100%;
  }

  @include media.narrowerThan('seed') {
    &__value {
      width: 100%;
      margin-top: 1.25rem;
    }
  }

  &__title {
    text-transform: uppercase;
    letter-spacing: 0.04em;
    line-height: 135%;
    font-size: 0.8rem;
    font-weight: 500;
  }

  &__details {
    margin-top: 1rem;
    line-height: 140%;
    font-size: 1rem;
    overflow: hidden;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;

    @include media.narrowerThan('seed') {
      -webkit-line-clamp: 4;
      line-clamp: 4;
    }
  }
}
