@use '../../settings/variables' as *;
@use '../../tools/mixins/media' as media;

.data-alter {
  padding: 1rem 1.5rem;
  background-color: $bg-lightest;
  border-radius: 8px;
  filter: $drop-shadow;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media.widerThan('sprout') {
    display: none;
  }

  &__text {
    line-height: 130%;
    font-size: 1.25rem;
    font-weight: 500;

    @include media.narrowerThan('seedling') {
      font-size: 1rem;
    }
  }

  &__buttons {
    button {
      border: 2px solid $color-sapphire;
      border-radius: 4px;
      color: $color-sapphire;
      font-weight: 500;
      vertical-align: middle;
      display: inline-flex;

      padding: 8px 16px;
      font-size: 0.8rem;
      line-height: 1.8;

      &:first-child {
        margin-right: 12px;
      }

      @include media.narrowerThan('seed') {
        font-size: 0;
        border: none;
        padding: 8px 8px;
      }
    }
  }

  &__svg {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
  }

  &__filter {
    display: grid;
    grid-template-columns: max-content 1fr;
    margin-top: 0.5rem;

    ul {
      width: 200px;
      margin-right: 1.25rem;

      li {
        margin-top: 0.5rem;

        &:first-of-type {
          margin-top: 1rem;
        }
      }

      a {
        width: 100%;
        padding: 9px 8px;
        display: block;
        text-decoration: none;
        border-radius: 4px;
        background-color: $grey-6;
        line-height: 137%;

        &[aria-selected='true'] {
          background-color: $bg-lightest;
          font-weight: 500;
        }
      }

      @include media.narrowerThan('seed') {
        width: 144px;
      }
    }
  }
}
