@use '../../settings/variables' as *;
@use '../../tools/mixins/media' as media;
@use '../../tools/mixins/hover' as hover;

.list {
  padding-bottom: 1.5rem;
  border-bottom: 2px solid hsla(300, 4%, 81%, 0.5);
  padding-left: 0;

  &__item {
    margin-top: 1rem;
    box-shadow: $box-shadow-1;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    background-color: $bg-lightest;
    position: relative;
    z-index: 10;

    @include hover.cardHover;

  }
}
