@use '../../settings/variables' as *;
@use '../../tools/mixins/media' as media;

.carousel {
  margin-top: 5rem;
  padding: 75px 0 60px;
  background-color: $grey-5;

  .container {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__content {
    display: flex;

    figure {
      padding: 16px 53px;

      @include media.narrowerThan('seedling') {
        display: none;
      }
    }
  }

  h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
  }

  p {
    margin-top: 50px;
    font-weight: 500;
    line-height: 156%;
  }

  a {
    margin-top: 10px;
    display: block;
    width: max-content;
    font-weight: 500;
    color: $bg-darkest;
    text-decoration: none;
    line-height: 156%;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__prev,
  &__next {
    min-width: 44px;
    height: 44px;
  }

  &__prev {
    margin-right: 3rem;
  }

  &__next {
    margin-left: 3rem;
    svg {
      transform: rotate(180deg);
    }
  }

  &__item {
    display: none;

    &--current {
      display: flex;
    }
  }

  &__nav {
    position: absolute;
    bottom: -3.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    li {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
    }

    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;

      &::before {
        font-size: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 0.5rem;
        height: 0.5rem;
        content: ' ';
        text-align: center;
        color: $bg-light;
        border: 1px solid $bg-darkest;
        border-radius: 50%;
      }

      &[aria-pressed='true'] {
        &::before {
          background-color: $bg-darkest;
        }
      }

      &:focus-visible {
        &::before {
          outline-width: 5px;
          outline-color: #78aeda;
          outline-style: solid;
        }
      }
    }
  }

  @include media.narrowerThan('seedling') {
    figure {
      display: none;
    }
    &__prev {
      margin-right: 2rem;
    }

    &__next {
      margin-left: 2rem;
    }
  }
}
