@use '../settings/variables' as *;

body {
  --site-border: 0.5em;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  transition: background-color var(--base-animation-duration)
    var(--base-easing);
  background-color: $bg-light;
  color: $text-light-high;
  min-height: 100vh;
}

a {
  text-decoration: underline;
  text-decoration-skip-ink: all;
  text-decoration-thickness: .07em;
  text-underline-offset: 1.5px;
}

a {
  color: inherit;

  &.button,
  &.c2a {
    text-decoration: none;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
}

em,
i {
  font-style: italic;
  font-variation-settings: 'ital' 1;
}

strong,
b {
  font-weight: bolder;
  font-weight: 550;
}

button {
  cursor: pointer;
}
