@use '../settings/variables' as *;
@use '../tools/mixins/media' as media;

@mixin button {
  padding: 9px 24px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  line-height: 150%;
  font-weight: 500;
  transition: background-color 200ms ease;

  @include media.narrowerThan('sprout') {
    padding: 7px 20px;
    font-size: 0.9rem;
  }
}

.button-primary {
  @include button;
  background: $bg-darkest;
  color: $bg-lightest;
  border: 1px solid $bg-darkest;

  &:hover {
    background-color: lighten($bg-darkest, 5);
  }
}

.button-secondary {
  @include button;

  border: 1px solid $bg-dark;
  color: $bg-darkest;
  background-color: $bg-lightest;

  svg {
    margin-right: 1rem;
  }

  &:hover {
    background-color: darken($bg-lightest, 10);
  }
}
