@use '../settings/theme' as *;
@use '../tools/mixins/media' as media;

@mixin button {
  padding: 9px 24px;
  font-size: 14px;
  border-radius: 4px;
  text-decoration: none;
  line-height: 150%;
  font-weight: 500;
  transition: background-color 200ms ease;
  width: max-content;
  display: flex;
  align-items: center;

  @include media.narrowerThan('sprout') {
    font-size: 0.9rem;
  }

  svg {
    margin-right: 8px;
  }
}

.btn-primary {
  @include button;
  background-color: $btn-primary-bg;
  color: $btn-primary-text;
  border: 1px solid $btn-primary-bg;

  &:hover {
    background-color: lighten($btn-primary-bg, 5);
  }
}

.btn-primary-invert {
  @include button;

  border: 1px solid $btn-primary-bg;
  color: $btn-primary-bg;
  background-color: $btn-primary-text;

  &:hover {
    background-color: darken($btn-primary-text, 10);
  }
}

.btn-secondary {
  @include button;
  background-color: $btn-secondary-bg;
  color: $btn-secondary-text;
  border: 1px solid $btn-secondary-bg;

  &:hover {
    background-color: lighten($btn-secondary-bg, 5);
  }
}

.btn-secondary-invert {
  @include button;

  border: 1px solid $btn-secondary-bg;
  color: $btn-secondary-bg;
  background-color: $btn-secondary-text;

  &:hover {
    background-color: darken($btn-secondary-text, 10);
  }
}
