@use '../tools/mixins/media' as media;
@use '../settings/variables' as *;

/* Buttons */
.button-link {
  padding: 0.7rem 1.5rem !important;

  background: $color-flamingo;
  color: #fff;
  border-radius: 4px;
  text-align: center;

  margin: 0.8rem 0 0.8rem 1rem;
}

// .button__text {
//   --int-l-text: var(--lightness, 25%);
//   font-family: var(--typeface-headings);
//   font-feature-settings: 'c2sc', 'smcp';
//   font-weight: 525;
//   font-smooth: always;
//   -webkit-font-smoothing: antialiased;
// }

.button__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__icon > svg {
  height: 100%;
  width: auto;
}

.button:hover {
  --darker: 5%;
  cursor: pointer;
}

.button:focus,
.button:active {
  --darker: 10%;
}
