@use '../settings/variables' as *;
@use '../tools/mixins/media' as media;

@mixin heading {
  font-size: 1.5rem;
  font-weight: 500;
  height: max-content;

  @include media.narrowerThan('seed') {
    width: 100%;
  }
}

.label-green {
  line-height: 140%;
  font-weight: 500;
  color: $bg-darkest;
}

.heading-w-line {
  @include heading();
  line-height: 140%;
  border-bottom: 1px solid $grey-3;
  width: 120%;
}

.heading3-w-line {
  @include heading();
  line-height: 130%;
  border-bottom: 1px solid $grey-4;
}
