@use '../../settings/variables' as *;
@use '../../tools/mixins/media' as media;

.dlist {
  border: 1px solid #e9fbf0;
  border-radius: 6px;
  box-shadow: $box-shadow-1;
  background-color: $bg-lightest;

  > div {
    display: flex;
    align-items: center;
    padding: 1rem 1.25rem;

    @include media.narrowerThan('seed') {
      flex-direction: column;
      align-items: flex-start;

      dt {
        margin-bottom: 0.7rem;
      }
    }

    &:nth-child(2n) {
      background-color: $bg-lighter;
    }
  }

  &__multiple {
    div {
      display: grid;
      grid-template-columns: 250px repeat(4, 1fr);
      justify-content: space-between;
      width: 100%;

      .dlist__desc {
        width: max-content;
      }

      @include media.narrowerThan('sprout') {
        display: block;

        dd {
          margin-bottom: 0.5rem;
        }
      }
    }

    @include media.narrowerThan('plant') {
      flex-direction: column;
      align-items: flex-start !important;

      dt {
        margin-bottom: 0.7rem;
      }
    }
  }

  &__title {
    font-weight: 500;
    width: 100%;
    margin-right: 1rem;

    svg {
      margin-left: 6px;
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__toggletip {
    position: relative;
    button {
      &[aria-pressed='true'] {
        + [role='status'] {
          opacity: 100;
          width: 212px;
        }
      }

      svg {
        pointer-events: none;
      }
    }

    [role='status'] {
      position: absolute;
      max-width: 60vw;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      padding: 7px 12px;
      background-color: $bg-lighter;
      border: 1px solid $bg-dark;
      border-radius: 4px;
      bottom: 150%;
      left: -20%;
      z-index: 10;
      opacity: 0;
      width: 0;

      &::before {
        border-left: 0.8em solid transparent;
        border-right: 0.8em solid transparent;
        border-top: 0.8em solid $bg-dark;
        bottom: -0.8em;
        content: ' ';
        height: 0;
        left: 2%;
        width: 0;
        position: absolute;
        z-index: 9;
      }

      @include media.narrowerThan('seed') {
        left: -100px;

        &::before {
          left: 50%;
        }
      }
    }
  }

  &__desc {
    text-align: left;
    width: 100%;
    overflow-x: auto;
    align-self: center;
    padding: 0.5rem;
    padding-left: 0;
  }

  &__view {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 157%;
    color: $bg-darkest;

    &:hover {
      text-decoration: underline;
    }
  }
}
