@use '../../settings/variables' as *;
@use '../../tools/mixins/media' as media;

.filters {
  scrollbar-width: thin;
  background-color: $bg-lightest;
  margin-right: 2rem;
  filter: $drop-shadow;
  border: 1px solid hsl(300, 10%, 94%);
  border-radius: 4px;
  height: max-content;
  max-height: 776px;
  padding: 1.5rem;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  @include media.narrowerThan('sprout') {
    display: none;
  }

  &__heading {
    margin-top: 1.75rem;
    border-radius: 4px;

    button {
      text-transform: capitalize;
      padding: 13px 12px;
      font-weight: 500;
      line-height: 140%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border: 1px solid $bg-darkest;
      color: $bg-darkest;
      border-radius: 4px;
    }

    svg {
      height: 7px;
      margin-left: 0.5em;
      transition: transform 150ms ease;
    }

    [aria-expanded='true'] svg {
      transform: rotate(-180deg);
    }

    [aria-expanded] path {
      fill: currentColor;
    }
  }

  &__button {
    background-color: $bg-lightest;
    display: block;
    width: 100%;
    text-align: left;
    padding: 12px;
    border: 1px solid #d1cdd1;
    border-top: none;
    cursor: pointer;
    transition: background-color 150ms ease;

    &:hover {
      background-color: $grey-6;
    }

    &:last-child {
      border-radius: 0px 0px 4px 4px;
    }
  }

  [aria-pressed="true"] {
    background-color: darken($color-sapphire-0, 10);

    &:hover {
      background-color: darken($color-sapphire-0, 8);
    }
  }
}
