@use '../../settings/variables' as *;
@use '../../tools/mixins/media' as media;

.filters {
  scrollbar-width: thin;
  background-color: $bg-lightest;
  filter: $drop-shadow;
  border: 1px solid hsl(300, 10%, 94%);
  border-radius: 4px;
  height: max-content;
  max-height: 776px;
  padding: 1.5rem;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  @include media.narrowerThan('sprout') {
    display: none;
  }

  &__heading {
    margin-top: 1.75rem;
    border-radius: 4px;

    button {
      text-transform: capitalize;
      padding: 13px 12px;
      font-weight: 500;
      line-height: 140%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border: 1px solid $bg-darkest;
      color: $bg-darkest;
      border-radius: 4px;
    }

    svg {
      height: 7px;
      margin-left: 0.5em;
      transition: transform 150ms ease;
    }

    [aria-expanded='true'] svg {
      transform: rotate(-180deg);
    }

    [aria-expanded] path {
      fill: currentColor;
    }
  }

  &__content {
    max-height: 20rem;
    overflow-y: auto;
    scrollbar-width: thin;
    border: 1px solid #d1cdd1;
    border-radius: 6px;

    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
      background: #888;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  &__button {
    background-color: $bg-lightest;
    display: block;
    width: 100%;
    text-align: left;
    padding: 12px;
    border-block: 1px solid #d1cdd1;
    border-top: none;
    cursor: pointer;
    transition: background-color 150ms ease;

    &:hover {
      background-color: $grey-6;
    }

    &:last-child {
      border-radius: 0px 0px 4px 4px;
    }
  }

  &__selected {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
    gap: 8px;

    button {
      border-radius: 18px;
      background-color: $bg-darkest;
      color: $text-dark-high;
      font-weight: 500;
      font-size: 12px;
      text-align: left;
      line-height: 20px;
      padding: 4px 10px;
      display: flex;
      align-items: center;
      gap: 8px;
      text-transform: capitalize;

      svg {
        fill:#fefdfd;
        pointer-events: none;
      }
    }
  }

  &__search {
    width: 100%;
    padding: 8px;
    border-block: 1px solid #d1cdd1;
  }

  [aria-pressed='true'] {
    background-color: darken($color-sapphire-0, 10);

    &:hover {
      background-color: darken($color-sapphire-0, 8);
    }
  }
}
