@use '../../settings/theme' as *;
@use '../../tools/mixins/narrowerThan' as *;

.footer {
  margin-top: 5rem;
  background-color: $bg-footer;
  color: $text-footer;

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;

    > * {
      width: 33%;
    }

    @include narrowerThan('sprout') {
      > div {
        width: 100%;
      }
      > section {
        width: max-content;
        padding-left: 2rem;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    padding-right: 3rem;

    @include narrowerThan('sprout') {
      padding-right: 0;
      padding-bottom: 2rem;
    }
  }

  &__pages {
    border-left: 1px solid $text-footer;
    border-right: 1px solid $text-footer;
    padding-left: 3rem;

    h2 {
      font-size: 14px;
      font-weight: 400;
    }

    li {
      margin-top: 1rem;
      font-weight: 500;

      a {
        text-decoration: none;

        &:hover,
        &:focus-visible {
          text-decoration: underline;
        }
      }
    }

    @include narrowerThan('sprout') {
      border: none;
      padding-left: 0;
      justify-content: space-between;
    }
  }

  &__contact {
    padding-left: 3rem;

    a {
      // max-width: max-content;
    }

    h2 {
      font-size: 14px;
      font-weight: 400;
    }

    p {
      margin-top: 1.5rem;
      font-size: 14px;
    }

    @include narrowerThan('sprout') {
      padding-left: 0;
    }

    @include narrowerThan('seed') {
      margin-top: 2.5rem;
    }
  }

  &__mail {
    margin-top: 14px;
    display: block;
  }

  &__connect {
    margin-top: 1.5rem;

    > div {
      display: flex;
      gap: 14px;
      flex-wrap: wrap;
    }

    a {
      line-height: 0;
      display: inline-block;
    }

    h2 {
      margin-bottom: 1rem;
    }
  }
}
