@forward 'navbar';
@forward 'mega-header';
@forward 'skip-to-content';
@forward 'search';
@forward 'footer';
@forward 'modal';

.heading-3 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 92%;
}