@use '../../settings/variables' as *;
@use '../../tools/mixins/media' as media;

.ReactModal__Body--open {
  position: static;
  overflow-y: scroll;
}

.ReactModal__Html--open {
  overflow-y: hidden;
}

.ReactModalPortal {
  z-index: 1000;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;

  padding-bottom: 1rem;
  border-radius: 6px;
  max-width: 550px;
  width: 100%;
  display: grid;

  input {
    margin-right: 1rem;
    accent-color: $color-sapphire;

    &[type='radio'] {
      padding: 6px 0;
      transform: scale(1.5);
      margin-right: 1rem;
    }
  }

  &__header {
    background-color: $grey-4;
    border-radius: 6px 6px 0px 0px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 500;
    }
    p {
      font-size: 14px;
      margin-top: 0.3rem;
    }
  }

  &__body {
    padding: 2rem;
    padding-top: 0;
    max-height: 50vh;
    overflow-y: auto;

    label {
      display: flex;
      margin-top: 14px;
      align-items: center;
      font-weight: 500;
    }

    > fieldset {
      padding: 0 4px;
      margin-top: 8px;
    }

    @include media.narrowerThan('seedling') {
      height: 40vh;
    }
  }

  &__format {
    margin-top: 2rem;

    p {
      font-size: 14px;
    }

    fieldset {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
      justify-content: flex-start;
      padding: 0 4px;
    }
  }

  &__submit {
    justify-self: center;
    margin-top: 1rem;
  }

  &__clear {
    min-height: 44px;
    font-size: 1rem;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: $color-sapphire;
    font-weight: 500;
  }

  &__close {
    width: 44px;
    height: 44px;
    font-size: 1.5rem;
    transition: background-color 200ms ease;
    border-radius: 8px;

    &:hover {
      background-color: $grey-5;
    }
  }

  &__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 990;
  }

  &__url {
    h2 {
      font-weight: 500;
      margin-top: 1.75rem;
    }

    input {
      margin-top: 6px;
      border-radius: 6px;
      border: 1px solid $bg-darkest;
      width: 100%;
      font-weight: 300;
      font-size: 14px;
      padding: 6px;
    }
  }

  @include media.narrowerThan('sprout') {
    top: initial;
    left: initial;
    bottom: 0;
    max-width: 100%;
    transform: initial;

    &.ReactModal__Content {
      transform: translateY(100%);
      transition: transform 200ms ease-in-out;
    }

    &.ReactModal__Content--after-open {
      transform: translateY(0);
    }

    &.ReactModal__Content--before-close {
      transform: translateY(100%);
    }

    &--menu {
      height: 100%;
      width: 320px;
      padding-bottom: 0;

      @include media.narrowerThan('seed') {
        width: 248px;
      }

      &.ReactModal__Content {
        transform: translateX(-100%) translateY(0);
        transition: transform 200ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
      }

      &.ReactModal__Content--after-open {
        transform: translateX(0);
      }

      &.ReactModal__Content--before-close {
        transform: translateX(-100%) translateY(0);
      }
    }

    &--download {
      .dialog__header {
        padding: 1.5rem 2rem;
      }
      .dialog__body {
        padding: 0 2rem 2rem;
      }
    }

    &__header {
      padding: 1.5rem 1rem;

      &--filter {
        padding: 1rem;
      }
    }

    &__body {
      padding: 0 1rem 2rem;
      border-bottom: 2px solid $grey-4;
    }
  }

  &--small {
    .dialog__header {
      padding: 1.5rem;
    }

    .dialog__body {
      h2 {
        font-weight: 500;
        margin-top: 1.75rem;
      }

      input {
        margin-top: 6px;
        border-radius: 6px;
        border: 1px solid $bg-darkest;
        width: 100%;
        font-weight: 300;
        font-size: 14px;
        padding: 6px;
      }
    }
  }
}
