@use '../../settings/variables' as *;
@use '../../settings/theme' as *;
@use '../../tools/mixins/narrowerThan' as *;

.header {
  background-color: $bg-darkest;
  color: $text-dark-high;
  padding-top: 1.25rem;

  a {
    text-decoration: none;
  }

  &__logo {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  &__brand {
    display: flex;
    align-items: center;

    a {
      display: inline-flex;
      svg {
        margin-right: 6px;
      }
    }

    h1 {
      font-size: 1.4rem;
      font-weight: 500;
      width: max-content;
    }
  }

  &__divider {
    border: 1px solid rgba(255, 255, 255, 0.7);
    margin: 0 1rem;
    height: 2rem;
  }

  @include narrowerThan('sprout') {
    display: none;
    padding-top: 0;
  }
}

.navbar {
  position: relative;

  &__links {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
  }

  &__item {
    padding: 1rem;
    align-items: center;
    display: flex;

    &:hover {
      background-color: lighten($bg-darkest, 10);
    }

    &--active {
      box-shadow: inset 0 -2px 0 0 $bg-lightest;
      font-weight: 500;

      @include narrowerThan('sprout') {
        box-shadow: inset 3px 0 0 0 $bg-lightest;
      }
    }
  }

  &__container {
    display: flex;
  }

  &__nested {
    display: block;
    position: absolute;
    top: 120%;
    width: 11rem;
    font-size: 0.8rem;

    li {
      position: relative;
      background-color: $bg-submenu;
      border-radius: 4px;
      transition: background-color 200ms ease-in;

      a {
        text-decoration: underline;
        padding: 0.7rem 1rem 0.7rem 1rem;
        display: block;
        border-radius: 4px;

        span {
          text-decoration: none;
          position: absolute;
          right: 1rem;
        }
      }

      &:hover,
      &:focus-within {
        background-color: lighten($bg-submenu, 10);
      }
    }

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      border-bottom: 17px solid $bg-submenu;
      top: -10px;
      left: 10%;
    }
  }

  &__item {
    &[type='button'] {
      &::after {
        border-bottom: 2px solid #0b0c0c;
        border-bottom-color: rgb(11, 12, 12);
        border-right: 2px solid #0b0c0c;
        border-right-color: rgb(11, 12, 12);
        content: ' ';
        display: inline-block;
        height: 8px;
        margin: 0 2px 0 1rem;
        transform: translateY(-35%) rotate(45deg);
        vertical-align: middle;
        width: 8px;
        border-color: #fff;
      }
    }
  }
}

.m-header {
  display: none;
  min-height: 4rem;

  @include narrowerThan('sprout') {
    display: block;
    align-items: center;
  }

  .container {
    padding-top: 1rem;
    justify-content: flex-start;
  }

  &__button {
    margin-right: 1rem;
  }

  &__link {
    justify-self: flex-end;

    @include narrowerThan('seed') {
      display: none;
    }
  }
}

.m-navbar {
  background: $bg-darkest;
  color: $text-dark-high;

  a {
    text-decoration: none;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darken($bg-darkest, 5);
    height: 4rem;
    padding-left: 1.5rem;

    button {
      height: 100%;
      width: 4rem;
      font-size: 1.5rem;
    }
  }

  .navbar__item {
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    line-height: 2rem;

    &[type='button'] {
      &::after {
        border-bottom: 2px solid #0b0c0c;
        border-bottom-color: rgb(11, 12, 12);
        border-right: 2px solid #0b0c0c;
        border-right-color: rgb(11, 12, 12);
        content: ' ';
        display: inline-block;
        height: 8px;
        margin: 0 2px 0 1rem;
        transform: translateY(-35%) rotate(45deg);
        vertical-align: middle;
        width: 8px;
        border-color: #fff;
        transition: transform 300ms ease;
      }
    }

    &[aria-expanded='true'] {
      background-color: $bg-darkest;

      &::after {
        transform: rotate(-135deg);
      }

      & + ul {
        background-color: $bg-darkest;
        padding-bottom: 1rem;
      }
    }
  }

  &__nested {
    width: 100%;
    a {
      padding: 1rem 1.5rem;
      display: block;
      padding-left: 2rem;
      display: flex;
      justify-content: space-between;
    }
  }

  @include narrowerThan('seed') {
    min-width: 248px;
  }
}
