@use '../../tools/mixins/media' as media;
@use '../../objects/sr-only' as *;

#top-of-site-pixel-anchor {
  position: absolute;
  width: 1px;
  height: 1px;
  top: -100px;
  left: 0;
}

.skip-to-content-link {
  background: #355F5F;
  color: #fff;
  left: 50%;
  padding: 8px;
  position: absolute;
  transform: translateY(-150%);
  transition: transform 0.3s;
  line-height: 1.5;
  isolation: isolate;
  z-index: 100;

  &:focus {
    transform: translateY(0);
  }
}
