@use '../../settings/variables' as *;
@use '../../tools/mixins/media' as media;

.sort {
  display: flex;
  align-items: center;

  &__label {
    white-space: nowrap;
    font-size: 12px;
    line-height: 192%;
    color: $grey-2;
  }

  @include media.narrowerThan('sprout') {
    display: none;
  }
}
