@use '../../settings/variables' as *;
@use '../../tools/mixins/media' as media;

.stories-card {
  background-color: $bg-lightest;
  border-radius: 6px;
  box-shadow: $box-shadow-1;
  padding: 2rem;
  margin-top: 1.75rem;
  text-decoration: none;
  display: block;
  display: flex;
  justify-content: space-between;
  position: relative;

  a {
    margin-right: 2rem;
  }

  img {
    max-width: 100%;
    object-fit: cover;
    max-height: 400px;
  }

  &__content {
    display: grid;
    width: 100%;

    h3 {
      font-weight: 500;
      line-height: 156%;
    }

    p {
      color: $grey-2;
      margin-top: 1rem;
      line-height: 156%;
    }

    small {
      display: block;

      &:last-child {
        margin-top: 4px;
        color: $grey-2;
      }
    }
  }

  &__author {
    font-size: 1rem;
    margin-top: 2rem;
    color: $text-light-high;
  }

  &__footer {
    align-self: flex-end;
  }

  @include media.narrowerThan('sprout') {
    flex-direction: column;

    a {
      max-width: 100%;
      margin-right: 0;
      display: grid;
      justify-content: center;
    }

    h3 {
      margin-top: 1.25rem;
    }

    p {
      -webkit-line-clamp: 4;
      line-clamp: 4;
    }
  }
}
