/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

* {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

:focus-visible {
  outline-width: 3px;
  outline-color: #db901f;
  outline-style: solid;
}

::-moz-selection {
  color: #076775;
  background-color: #b4f1fa;
}

::selection {
  color: #076775;
  background-color: #b4f1fa;
}

:root {
  /* Base Settings */
  --base-spacing: 1em;
  --base-padding: 1em;
  --base-easing: cubic-bezier(0.85, 0, 0.15, 1);
  --base-animation-duration: 1ms;
  /* A commonly reused shadow */
  --shadow-fat: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
}
@media screen and (min-width: 1200px) {
  :root {
    --shadow-fat: 0 2px 5px 0 rgba(0, 0, 0, 0.06),
      0 15px 42px 0 rgba(0, 0, 0, 0.04);
  }
}

/* Add Animation progressively; Only make durations longer when there is no preferences */
@media (prefers-reduced-motion: no-preference) {
  :root {
    --base-animation-duration: 350ms;
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: calc(100vw - 20px);
}
@media (min-width: 1350px) {
  .container {
    width: 1216px;
  }
}

.page-wrap {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

b,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

body {
  --site-border: 0.5em;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  transition: background-color var(--base-animation-duration) var(--base-easing);
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.87);
  min-height: 100vh;
}

a {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: all;
          text-decoration-skip-ink: all;
  text-decoration-thickness: 0.07em;
  text-underline-offset: 1.5px;
}

a {
  color: inherit;
}
a.button, a.c2a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

em,
i {
  font-style: italic;
  font-variation-settings: "ital" 1;
}

strong,
b {
  font-weight: bolder;
  font-weight: 550;
}

button {
  cursor: pointer;
}

.btn-primary {
  padding: 9px 24px;
  font-size: 14px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  line-height: 150%;
  font-weight: 500;
  transition: background-color 200ms ease;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #076775;
  color: #fdfcfc;
  border: 1px solid #076775;
}
@media screen and (max-width: 979px) {
  .btn-primary {
    font-size: 0.9rem;
  }
}
.btn-primary svg {
  margin-right: 1rem;
  margin-bottom: -2px;
}
.btn-primary:hover {
  background-color: #087c8d;
}

.btn-primary-invert {
  padding: 9px 24px;
  font-size: 14px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  line-height: 150%;
  font-weight: 500;
  transition: background-color 200ms ease;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid #076775;
  color: #076775;
  background-color: #fdfcfc;
}
@media screen and (max-width: 979px) {
  .btn-primary-invert {
    font-size: 0.9rem;
  }
}
.btn-primary-invert svg {
  margin-right: 1rem;
  margin-bottom: -2px;
}
.btn-primary-invert:hover {
  background-color: #ecdada;
}

.btn-secondary {
  padding: 9px 24px;
  font-size: 14px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  line-height: 150%;
  font-weight: 500;
  transition: background-color 200ms ease;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #4864b1;
  color: white;
  border: 1px solid #4864b1;
}
@media screen and (max-width: 979px) {
  .btn-secondary {
    font-size: 0.9rem;
  }
}
.btn-secondary svg {
  margin-right: 1rem;
  margin-bottom: -2px;
}
.btn-secondary:hover {
  background-color: #5873bb;
}

.btn-secondary-invert {
  padding: 9px 24px;
  font-size: 14px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  line-height: 150%;
  font-weight: 500;
  transition: background-color 200ms ease;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid #4864b1;
  color: #4864b1;
  background-color: white;
}
@media screen and (max-width: 979px) {
  .btn-secondary-invert {
    font-size: 0.9rem;
  }
}
.btn-secondary-invert svg {
  margin-right: 1rem;
  margin-bottom: -2px;
}
.btn-secondary-invert:hover {
  background-color: #e6e6e6;
}

.sr-only:not(:where(:focus, :active, :focus-within)) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.label-green {
  line-height: 140%;
  font-weight: 500;
  color: #076775;
}

.heading-w-line {
  font-size: 1.5rem;
  font-weight: 500;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  line-height: 140%;
  border-bottom: 1px solid #adadad;
  width: 120%;
}
@media screen and (max-width: 479px) {
  .heading-w-line {
    width: 100%;
  }
}

.heading3-w-line {
  font-size: 1.5rem;
  font-weight: 500;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  line-height: 130%;
  border-bottom: 1px solid #f1eef1;
}
@media screen and (max-width: 479px) {
  .heading3-w-line {
    width: 100%;
  }
}

.heading-3 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 92%;
}

.home-search {
  padding-top: 50px;
}
.home-search h2 {
  max-width: 450px;
}
.home-search .search {
  margin: 3.5rem auto 0 auto;
  max-width: 904px;
}
.home-search__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5.5rem;
}
@media screen and (max-width: 330px) {
  .home-search__icons {
    justify-content: center;
  }
}
.home-search__category {
  display: flex;
  flex-direction: column;
  max-width: 185px;
  margin-bottom: 1.5rem;
}
.home-search__category img {
  max-width: 149px;
  margin: 0 auto;
}
.home-search__category h3 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 137%;
  text-align: center;
  margin-top: 1.25rem;
}
@media screen and (max-width: 979px) {
  .home-search__category {
    max-width: 150px;
  }
  .home-search__category img {
    max-width: 125px;
  }
}
.home-search__button {
  margin: 3rem auto 0;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.carousel {
  margin-top: 5rem;
  padding: 75px 0 60px;
  background-color: #fdfcfc;
}
.carousel .container {
  display: flex;
  position: relative;
  min-height: 15rem;
}
.carousel__content {
  display: flex;
  width: 80%;
  margin-inline: auto;
}
@media screen and (max-width: 719px) {
  .carousel__content figure {
    display: none;
  }
}
@media screen and (min-width: 720px) {
  .carousel__content figure {
    display: grid;
    align-items: center;
    padding-right: 0;
  }
  .carousel__content article {
    width: 90%;
  }
}
.carousel h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
}
.carousel p {
  margin-top: 50px;
  font-weight: 500;
  line-height: 156%;
}
.carousel a {
  margin-top: 10px;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 500;
  color: #076775;
  text-decoration: none;
  line-height: 156%;
}
.carousel a:hover, .carousel a:focus {
  text-decoration: underline;
}
.carousel__prev, .carousel__next {
  min-width: 44px;
  height: 44px;
  position: absolute;
  top: 8rem;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.08));
}
.carousel__prev {
  left: 1rem;
}
.carousel__next {
  right: 1rem;
}
.carousel__next svg {
  transform: rotate(180deg);
}
.carousel__item {
  display: none;
}
.carousel__item--current {
  display: flex;
}
.carousel__nav {
  position: absolute;
  bottom: -3.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  display: flex;
}
.carousel__nav li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  width: 100%;
}
.carousel__nav button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.carousel__nav button::before {
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  content: " ";
  text-align: center;
  color: #f2f2f2;
  border: 1px solid #076775;
  border-radius: 50%;
}
.carousel__nav button[aria-pressed=true]::before {
  background-color: #076775;
}
.carousel__nav button:focus-visible::before {
  outline-width: 5px;
  outline-color: #db901f;
  outline-style: solid;
}
@media screen and (max-width: 719px) {
  .carousel figure {
    display: none;
  }
  .carousel__prev, .carousel__next {
    min-width: inherit;
    height: inherit;
  }
}

.list {
  padding-bottom: 1.5rem;
  border-bottom: 2px solid rgba(208, 205, 208, 0.5);
  padding-left: 0;
}
.list__item {
  margin-top: 1rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.14);
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  background-color: white;
  position: relative;
  z-index: 10;
  transition: box-shadow 250ms ease;
}
.list__item:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.total-datasets {
  font-size: 14px;
  line-height: 140%;
  color: #545454;
}

.card__link {
  text-decoration: none;
  padding: 1.5rem;
  display: block;
  background-color: white;
  border-radius: 6px;
  display: flex;
}
.card__link > figure {
  margin-right: 1rem;
}
.card__image {
  -o-object-fit: contain;
     object-fit: contain;
}
.card__heading {
  font-size: 1rem;
  color: #0a0a0a;
}
.card__date {
  font-size: 10px;
  line-height: 25px;
  color: #545454;
  margin-bottom: 10px;
  display: block;
  font-weight: 500;
}
.card__content {
  border-top: 2px solid #f1eef1;
  padding-top: 1.25rem;
  display: flex;
  flex-wrap: wrap;
}
.card__content h4 {
  line-height: 140%;
}
.card__content small {
  font-size: 12px;
  color: #545454;
}
.card__id {
  margin-right: 3rem;
}
.card__name {
  margin-top: 1.25rem;
  width: 100%;
}
@media screen and (max-width: 479px) {
  .card__value {
    width: 100%;
    margin-top: 1.25rem;
  }
}
.card__title {
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 135%;
  font-size: 0.8rem;
  font-weight: 500;
}
.card__details {
  margin-top: 1rem;
  line-height: 140%;
  font-size: 1rem;
  overflow: hidden;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
@media screen and (max-width: 479px) {
  .card__details {
    -webkit-line-clamp: 4;
    line-clamp: 4;
  }
}

.header {
  background-color: #076775;
  color: #fdfcfc;
  padding-top: 1.25rem;
}
.header a {
  text-decoration: none;
}
.header__logo {
  width: 100%;
  max-width: 400px;
  height: auto;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header__brand {
  display: flex;
  align-items: center;
}
.header__brand a {
  display: inline-flex;
}
.header__brand a svg {
  margin-right: 6px;
}
.header__brand h1 {
  font-size: 1.4rem;
  font-weight: 500;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.header__divider {
  border: 1px solid rgba(255, 255, 255, 0.7);
  margin: 0 1rem;
  height: 2rem;
}
@media screen and (max-width: 979px) {
  .header {
    display: none;
    padding-top: 0;
  }
}

.navbar {
  position: relative;
}
.navbar__links {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
.navbar__item {
  padding: 1rem;
  align-items: center;
  display: flex;
}
.navbar__item:hover {
  background-color: #0a91a5;
}
.navbar__item--active {
  box-shadow: inset 0 -2px 0 0 white;
  font-weight: 500;
}
@media screen and (max-width: 979px) {
  .navbar__item--active {
    box-shadow: inset 3px 0 0 0 white;
  }
}
.navbar__container {
  display: flex;
}
.navbar__nested {
  display: block;
  position: absolute;
  top: 120%;
  width: 11rem;
  font-size: 0.8rem;
}
.navbar__nested li {
  position: relative;
  background-color: #0899a0;
  border-radius: 4px;
  transition: background-color 200ms ease-in;
}
.navbar__nested li a {
  text-decoration: underline;
  padding: 0.7rem 1rem 0.7rem 1rem;
  display: block;
  border-radius: 4px;
}
.navbar__nested li a span {
  text-decoration: none;
  position: absolute;
  right: 1rem;
}
.navbar__nested li:hover, .navbar__nested li:focus-within {
  background-color: #0ac7d1;
}
.navbar__nested::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 17px solid #0899a0;
  top: -10px;
  left: 10%;
}
.navbar__item[type=button]::after {
  border-bottom: 2px solid #0b0c0c;
  border-bottom-color: #0b0c0c;
  border-right: 2px solid #0b0c0c;
  border-right-color: #0b0c0c;
  content: " ";
  display: inline-block;
  height: 8px;
  margin: 0 2px 0 1rem;
  transform: translateY(-35%) rotate(45deg);
  vertical-align: middle;
  width: 8px;
  border-color: #fff;
}

.m-header {
  display: none;
  min-height: 4rem;
}
@media screen and (max-width: 979px) {
  .m-header {
    display: block;
    align-items: center;
  }
}
.m-header .container {
  padding-top: 1rem;
  justify-content: flex-start;
}
.m-header__button {
  margin-right: 1rem;
}
.m-header__link {
  justify-self: flex-end;
}
@media screen and (max-width: 479px) {
  .m-header__link {
    display: none;
  }
}

.m-navbar {
  background: #076775;
  color: #fdfcfc;
}
.m-navbar a {
  text-decoration: none;
}
.m-navbar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #06525d;
  height: 4rem;
  padding-left: 1.5rem;
}
.m-navbar__header button {
  height: 100%;
  width: 4rem;
  font-size: 1.5rem;
}
.m-navbar .navbar__item {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  line-height: 2rem;
}
.m-navbar .navbar__item[type=button]::after {
  border-bottom: 2px solid #0b0c0c;
  border-bottom-color: #0b0c0c;
  border-right: 2px solid #0b0c0c;
  border-right-color: #0b0c0c;
  content: " ";
  display: inline-block;
  height: 8px;
  margin: 0 2px 0 1rem;
  transform: translateY(-35%) rotate(45deg);
  vertical-align: middle;
  width: 8px;
  border-color: #fff;
  transition: transform 300ms ease;
}
.m-navbar .navbar__item[aria-expanded=true] {
  background-color: #076775;
}
.m-navbar .navbar__item[aria-expanded=true]::after {
  transform: rotate(-135deg);
}
.m-navbar .navbar__item[aria-expanded=true] + ul {
  background-color: #076775;
  padding-bottom: 1rem;
}
.m-navbar__nested {
  width: 100%;
}
.m-navbar__nested a {
  padding: 1rem 1.5rem;
  display: block;
  padding-left: 2rem;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 479px) {
  .m-navbar {
    min-width: 248px;
  }
}

.mega-header {
  background-color: #076775;
  color: #fdfcfc;
}
.mega-header .container {
  padding-top: 3rem;
  display: block;
}
@media screen and (max-width: 1199px) {
  .mega-header .container {
    padding-top: 1.5rem;
  }
}
.mega-header h2 {
  margin-top: 2rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.6rem;
  grid-column: 2/3;
  grid-row: 1/2;
  word-break: break-all;
}
.mega-header p {
  font-size: 1rem;
  line-height: 1.5;
  grid-column: 2/3;
  grid-row: 2/3;
}
.mega-header p:first-of-type {
  padding-top: 1rem;
}
.mega-header p:last-child {
  padding-bottom: 2.5rem;
}
@media screen and (max-width: 479px) {
  .mega-header p {
    grid-column: 1/3;
  }
}

.skip-to-content {
  transform: translateY(0);
  background-color: #fff;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  -webkit-padding-before: 1em;
          padding-block-start: 1em;
  -webkit-padding-after: 1.5em;
          padding-block-end: 1.5em;
  padding-inline: var(--site-padding);
  z-index: 1;
}
@media screen and (min-width: 720px) {
  .skip-to-content {
    display: flex;
    justify-content: space-between;
    gap: 2em;
  }
}
.skip-to-content a {
  font-size: 0.85em;
}
@media screen and (min-width: 720px) {
  .skip-to-content a {
    font-size: 1em;
  }
}
.skip-to-content:not(:where(:active, :focus, :focus-within)) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.skip-to-content:where(:active, :focus, :focus-within) + .site-bar {
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.search {
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  position: relative;
  flex-grow: 1;
}
.search__clear {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  padding: 12px 13.1px;
  color: #076775;
}
.search__clear button {
  cursor: pointer;
}
.search__submit {
  padding: 9px 60px;
  transform: translateX(-5px);
  line-height: 135%;
}
@media screen and (max-width: 719px) {
  .search__submit {
    padding: 9px 24px;
  }
}
.search__form {
  width: 100%;
  position: relative;
}
.search__input {
  border: 1px solid #076775;
  border-radius: 4px;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.08);
  padding-left: 2.5rem;
  background-color: white;
  transition: background-color 150ms ease;
  width: 100%;
  height: 100%;
  line-height: 130%;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5 14.5L10.5 10.5M6.5 12.5C3.18629 12.5 0.5 9.81371 0.5 6.5C0.5 3.18629 3.18629 0.5 6.5 0.5C9.81371 0.5 12.5 3.18629 12.5 6.5C12.5 9.81371 9.81371 12.5 6.5 12.5Z' stroke='%23075E54'/%3E%3C/svg%3E%0A");
  background-position: left 1rem top 50%, 0 0;
  background-repeat: no-repeat, repeat;
}
.search__input:not([value=""]) + .search__clear {
  display: block;
}

.footer {
  margin-top: 5rem;
  background-color: #076775;
  color: #fdfcfc;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer .container > * {
  width: 33%;
}
@media screen and (max-width: 979px) {
  .footer .container > div {
    width: 100%;
  }
  .footer .container > section {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding-left: 2rem;
  }
}
.footer__logo {
  display: flex;
  align-items: center;
  padding-right: 3rem;
}
@media screen and (max-width: 979px) {
  .footer__logo {
    padding-right: 0;
    padding-bottom: 2rem;
  }
}
.footer__pages {
  border-left: 1px solid #fdfcfc;
  border-right: 1px solid #fdfcfc;
  padding-left: 3rem;
}
.footer__pages h2 {
  font-size: 14px;
  font-weight: 400;
}
.footer__pages li {
  margin-top: 1rem;
  font-weight: 500;
}
.footer__pages li a {
  text-decoration: none;
}
.footer__pages li a:hover, .footer__pages li a:focus-visible {
  text-decoration: underline;
}
@media screen and (max-width: 979px) {
  .footer__pages {
    border: none;
    padding-left: 0;
    justify-content: space-between;
  }
}
.footer__contact {
  padding-left: 3rem;
}
.footer__contact a {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.footer__contact h2 {
  font-size: 14px;
  font-weight: 400;
}
.footer__contact p {
  margin-top: 1.5rem;
  font-size: 14px;
}
@media screen and (max-width: 979px) {
  .footer__contact {
    padding-left: 0;
  }
}
@media screen and (max-width: 479px) {
  .footer__contact {
    margin-top: 2.5rem;
  }
}
.footer__mail {
  margin-top: 14px;
  display: block;
}
.footer__connect {
  margin-top: 1.5rem;
}
.footer__connect h2 {
  margin-bottom: 1rem;
}
.footer__connect svg {
  margin-right: 14px;
}

.ReactModal__Body--open {
  position: static;
  overflow-y: scroll;
}

.ReactModal__Html--open {
  overflow-y: hidden;
}

.ReactModalPortal {
  z-index: 1000;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  padding-bottom: 1rem;
  border-radius: 6px;
  max-width: 550px;
  width: 100%;
  display: grid;
}
.dialog input {
  margin-right: 1rem;
  accent-color: #4864b1;
}
.dialog input[type=radio] {
  padding: 6px 0;
  transform: scale(1.5);
  margin-right: 1rem;
}
.dialog__header {
  background-color: #f1eef1;
  border-radius: 6px 6px 0px 0px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dialog__header h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
}
.dialog__header p {
  font-size: 14px;
  margin-top: 0.3rem;
}
.dialog__body {
  padding: 2rem;
  padding-top: 0;
  max-height: 50vh;
  overflow-y: auto;
}
.dialog__body label {
  display: flex;
  margin-top: 1.5rem;
  align-items: center;
  font-weight: 500;
}
@media screen and (max-width: 719px) {
  .dialog__body {
    height: 40vh;
  }
}
.dialog__format {
  margin-top: 2rem;
}
.dialog__format p {
  font-size: 14px;
  margin-bottom: 1.5rem;
}
.dialog__format > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dialog__submit {
  justify-self: center;
  margin-top: 1rem;
}
.dialog__clear {
  min-height: 44px;
  font-size: 1rem;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: capitalize;
  color: #4864b1;
  font-weight: 500;
}
.dialog__close {
  width: 44px;
  height: 44px;
  font-size: 1.5rem;
}
.dialog__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 990;
}
.dialog__url h2 {
  font-weight: 500;
  margin-top: 1.75rem;
}
.dialog__url input {
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid #076775;
  width: 100%;
  font-weight: 300;
  font-size: 14px;
  padding: 6px;
}
@media screen and (max-width: 979px) {
  .dialog {
    top: initial;
    left: initial;
    bottom: 0;
    max-width: 100%;
    transform: initial;
  }
  .dialog.ReactModal__Content {
    transform: translateY(100%);
    transition: transform 200ms ease-in-out;
  }
  .dialog.ReactModal__Content--after-open {
    transform: translateY(0);
  }
  .dialog.ReactModal__Content--before-close {
    transform: translateY(100%);
  }
  .dialog--menu {
    height: 100%;
    width: 320px;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 979px) and (max-width: 479px) {
  .dialog--menu {
    width: 248px;
  }
}
@media screen and (max-width: 979px) {
  .dialog--menu.ReactModal__Content {
    transform: translateX(-100%) translateY(0);
    transition: transform 200ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  }
}
@media screen and (max-width: 979px) {
  .dialog--menu.ReactModal__Content--after-open {
    transform: translateX(0);
  }
}
@media screen and (max-width: 979px) {
  .dialog--menu.ReactModal__Content--before-close {
    transform: translateX(-100%) translateY(0);
  }
}
@media screen and (max-width: 979px) {
  .dialog--download .dialog__header {
    padding: 1.5rem 2rem;
  }
  .dialog--download .dialog__body {
    padding: 0 2rem 2rem;
  }
}
@media screen and (max-width: 979px) {
  .dialog__header {
    padding: 1.5rem 1rem;
  }
  .dialog__header--filter {
    padding: 1rem;
  }
}
@media screen and (max-width: 979px) {
  .dialog__body {
    padding: 0 1rem 2rem;
    border-bottom: 2px solid #f1eef1;
  }
}
.dialog--small .dialog__header {
  padding: 1.5rem;
}
.dialog--small .dialog__body h2 {
  font-weight: 500;
  margin-top: 1.75rem;
}
.dialog--small .dialog__body input {
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid #076775;
  width: 100%;
  font-weight: 300;
  font-size: 14px;
  padding: 6px;
}

.pagination {
  margin-top: 1rem;
  padding: 1.5rem;
  background-color: white;
  border-radius: 12px;
  border: 1px solid #f2eff2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@supports (display: grid) {
  .pagination {
    display: grid;
    grid-template-columns: 1fr repeat(3, -webkit-max-content);
    grid-template-columns: 1fr repeat(3, max-content);
  }
  @media screen and (max-width: 719px) {
    .pagination {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
}
.pagination__rows {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.pagination__rows .select-comp {
  width: 80px;
}
.pagination__jump {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding-right: 20px;
}
@media screen and (max-width: 719px) {
  .pagination__jump {
    border-right: none;
    justify-self: flex-end;
    padding-right: 0;
  }
}
.pagination__jump input {
  width: 56px;
  height: 40px;
  border-radius: 4px;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.12);
  text-align: center;
}
.pagination__control {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 719px) {
  .pagination__control {
    grid-row: 2/3;
    grid-column: 1/3;
    justify-self: center;
    padding-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    justify-content: space-between;
    margin-left: 0;
  }
}
@media screen and (max-width: 479px) {
  .pagination__control {
    justify-content: space-between;
  }
}
.pagination__control button {
  border-radius: 4px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.pagination__control span {
  line-height: 140%;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 719px) {
  .pagination__control span {
    margin: 0 5px;
  }
}
.pagination__back {
  background-color: rgba(0, 0, 0, 0.078);
  margin-left: 1rem;
}
.pagination__back:active {
  transform: scale(0.9);
  background-color: rgba(0, 0, 0, 0.078);
}
.pagination__back svg {
  transform: rotate(180deg);
  fill: #545454;
}
.pagination__next {
  margin-left: 0.5rem;
  background-color: #076775;
}
.pagination__next:active {
  transform: scale(0.9);
  background-color: #043d45;
}
.pagination__next svg {
  fill: white;
}

.sort {
  display: flex;
  align-items: center;
}
.sort__label {
  white-space: nowrap;
  font-size: 12px;
  line-height: 192%;
  color: #545454;
}
@media screen and (max-width: 979px) {
  .sort {
    display: none;
  }
}

.filters {
  scrollbar-width: thin;
  background-color: white;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.08));
  border: 1px solid #f1eef1;
  border-radius: 4px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-height: 776px;
  padding: 1.5rem;
  overflow-y: auto;
}
.filters::-webkit-scrollbar {
  width: 5px;
}
@media screen and (max-width: 979px) {
  .filters {
    display: none;
  }
}
.filters__heading {
  margin-top: 1.75rem;
  border-radius: 4px;
}
.filters__heading button {
  text-transform: capitalize;
  padding: 13px 12px;
  font-weight: 500;
  line-height: 140%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid #076775;
  color: #076775;
  border-radius: 4px;
}
.filters__heading svg {
  height: 7px;
  margin-left: 0.5em;
  transition: transform 150ms ease;
}
.filters__heading [aria-expanded=true] svg {
  transform: rotate(-180deg);
}
.filters__heading [aria-expanded] path {
  fill: currentColor;
}
.filters__content {
  max-height: 20rem;
  overflow-y: auto;
  scrollbar-width: thin;
  border: 1px solid #d1cdd1;
  border-radius: 6px;
}
.filters__content::-webkit-scrollbar {
  width: 5px;
}
.filters__content::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.filters__content::-webkit-scrollbar-thumb {
  background: #888;
}
.filters__content::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.filters__button {
  background-color: white;
  display: block;
  width: 100%;
  text-align: left;
  padding: 12px;
  border-block: 1px solid #d1cdd1;
  border-top: none;
  cursor: pointer;
  transition: background-color 150ms ease;
}
.filters__button:hover {
  background-color: #f1eef1;
}
.filters__button:last-child {
  border-radius: 0px 0px 4px 4px;
}
.filters__selected {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  gap: 8px;
}
.filters__selected button {
  border-radius: 18px;
  background-color: #076775;
  color: #fdfcfc;
  font-weight: 500;
  font-size: 12px;
  text-align: left;
  line-height: 20px;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-transform: capitalize;
}
.filters__selected button svg {
  fill: #fefdfd;
  pointer-events: none;
}
.filters__search {
  width: 100%;
  padding: 8px;
  border-block: 1px solid #d1cdd1;
}
.filters [aria-pressed=true] {
  background-color: #b8c9ff;
}
.filters [aria-pressed=true]:hover {
  background-color: #c2d1ff;
}

.select-comp {
  display: block;
  font-size: 1rem;
  font-family: sans-serif;
  color: #444;
  line-height: 1.5;
  padding: 0.6rem 1.7rem 0.5rem 0.5rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.55152 0.591299L5.00041 4.04019L8.4493 0.591299C8.79596 0.244632 9.35596 0.244632 9.70263 0.591299C10.0493 0.937965 10.0493 1.49797 9.70263 1.84463L5.62263 5.92463C5.27596 6.2713 4.71596 6.2713 4.3693 5.92463L0.289297 1.84463C-0.0573698 1.49797 -0.0573698 0.937965 0.289297 0.591299C0.635964 0.253521 1.20485 0.244632 1.55152 0.591299Z' fill='%236C666E'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat, repeat;
  background-position: right 10% top 50%, 0 0;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

/* Hide arrow icon in IE browsers */
.select-comp::-ms-expand {
  display: none;
}

/* Hover style */
.select-comp:hover {
  border-color: #888;
}

/* Focus style */
.select-comp:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px #db901f;
  outline: none;
}

/* Set options to normal weight */
.select-comp option {
  font-weight: normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir=rtl] .select-comp,
:root:lang(ar) .select-comp,
:root:lang(iw) .select-comp {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}

/* Disabled styles */
.select-comp:disabled,
.select-comp[aria-disabled=true] {
  color: graytext;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.55152 0.591299L5.00041 4.04019L8.4493 0.591299C8.79596 0.244632 9.35596 0.244632 9.70263 0.591299C10.0493 0.937965 10.0493 1.49797 9.70263 1.84463L5.62263 5.92463C5.27596 6.2713 4.71596 6.2713 4.3693 5.92463L0.289297 1.84463C-0.0573698 1.49797 -0.0573698 0.937965 0.289297 0.591299C0.635964 0.253521 1.20485 0.244632 1.55152 0.591299Z' fill='%236C666E'/%3E%3C/svg%3E%0A"), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

.select-comp:disabled:hover,
.select-comp[aria-disabled=true] {
  border-color: #aaa;
}

.data-alter {
  padding: 1rem 1.5rem;
  background-color: white;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.08));
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 980px) {
  .data-alter {
    display: none;
  }
}
.data-alter__text {
  line-height: 130%;
  font-size: 1.25rem;
  font-weight: 500;
}
@media screen and (max-width: 719px) {
  .data-alter__text {
    font-size: 1rem;
  }
}
.data-alter__buttons button {
  border: 2px solid #4864b1;
  border-radius: 4px;
  color: #4864b1;
  font-weight: 500;
  vertical-align: middle;
  display: inline-flex;
  padding: 8px 16px;
  font-size: 0.8rem;
  line-height: 1.8;
}
.data-alter__buttons button:last-child {
  margin-left: 12px;
}
@media screen and (max-width: 479px) {
  .data-alter__buttons button {
    font-size: 0;
    border: none;
    padding: 8px 8px;
  }
}
.data-alter__svg {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}
.data-alter__filter {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  margin-top: 0.5rem;
}
.data-alter__filter ul {
  width: 200px;
  margin-right: 1.25rem;
}
.data-alter__filter ul li {
  margin-top: 0.5rem;
}
.data-alter__filter ul li:first-of-type {
  margin-top: 1rem;
}
.data-alter__filter ul a {
  width: 100%;
  padding: 9px 8px;
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 4px;
  background-color: #f1eef1;
  line-height: 137%;
}
.data-alter__filter ul a[aria-selected=true] {
  background-color: white;
  font-weight: 500;
}
@media screen and (max-width: 479px) {
  .data-alter__filter ul {
    width: 144px;
  }
}
.data-alter__footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 1rem;
  margin-top: 1rem;
}
.data-alter__footer button {
  width: 49%;
}

.dlist {
  border: 1px solid #e9fbf0;
  border-radius: 6px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.14);
  background-color: white;
}
.dlist > div {
  display: flex;
  align-items: center;
  padding: 1rem 1.25rem;
}
@media screen and (max-width: 479px) {
  .dlist > div {
    flex-direction: column;
    align-items: flex-start;
  }
  .dlist > div dt {
    margin-bottom: 0.7rem;
  }
}
.dlist > div:nth-child(2n) {
  background-color: #f7fdf9;
}
.dlist__multiple div {
  display: grid;
  grid-template-columns: 250px repeat(4, 1fr);
  justify-content: space-between;
  width: 100%;
}
.dlist__multiple div .dlist__desc {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
@media screen and (max-width: 979px) {
  .dlist__multiple div {
    display: block;
  }
  .dlist__multiple div dd {
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-width: 1199px) {
  .dlist__multiple {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .dlist__multiple dt {
    margin-bottom: 0.7rem;
  }
}
.dlist__title {
  font-weight: 500;
  width: 100%;
  margin-right: 1rem;
}
.dlist__title svg {
  margin-left: 6px;
}
.dlist__title span {
  display: inline-block;
  vertical-align: middle;
}
.dlist__toggletip {
  position: relative;
}
.dlist__toggletip button[aria-pressed=true] + [role=status] {
  opacity: 100;
  width: 212px;
}
.dlist__toggletip button svg {
  pointer-events: none;
}
.dlist__toggletip [role=status] {
  position: absolute;
  max-width: 60vw;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  padding: 7px 12px;
  background-color: #f7fdf9;
  border: 1px solid #076775;
  border-radius: 4px;
  bottom: 150%;
  left: -20%;
  z-index: 10;
  opacity: 0;
  width: 0;
}
.dlist__toggletip [role=status]::before {
  border-left: 0.8em solid transparent;
  border-right: 0.8em solid transparent;
  border-top: 0.8em solid #076775;
  bottom: -0.8em;
  content: " ";
  height: 0;
  left: 2%;
  width: 0;
  position: absolute;
  z-index: 9;
}
@media screen and (max-width: 479px) {
  .dlist__toggletip [role=status] {
    left: -100px;
  }
  .dlist__toggletip [role=status]::before {
    left: 50%;
  }
}
.dlist__desc {
  text-align: left;
  width: 100%;
  overflow-x: auto;
  align-self: center;
  padding: 0.5rem;
  padding-left: 0;
}
.dlist__view {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 157%;
  color: #076775;
}
.dlist__view:hover {
  text-decoration: underline;
}

.selected-filters {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}
.selected-filters li {
  background-color: #076775;
  color: #fdfcfc;
  padding: 0.5rem 1rem;
  border-radius: 18px;
}

.stories-card {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.14);
  padding: 2rem;
  margin-top: 1.75rem;
  text-decoration: none;
  display: block;
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: box-shadow 250ms ease;
}
.stories-card:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}
.stories-card a {
  margin-right: 2rem;
}
.stories-card img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 400px;
}
.stories-card__content {
  display: grid;
  width: 100%;
}
.stories-card__content h3 {
  font-weight: 500;
  line-height: 156%;
}
.stories-card__content p {
  color: #545454;
  margin-top: 1rem;
  line-height: 156%;
}
.stories-card__content small {
  display: block;
}
.stories-card__content small:last-child {
  margin-top: 4px;
  color: #545454;
}
.stories-card__author {
  font-size: 1rem;
  margin-top: 2rem;
}
.stories-card__footer {
  align-self: flex-end;
}
@media screen and (max-width: 979px) {
  .stories-card {
    flex-direction: column;
  }
  .stories-card a {
    max-width: 100%;
    margin-right: 0;
    display: grid;
    justify-content: center;
  }
  .stories-card h3 {
    margin-top: 1.25rem;
  }
  .stories-card p {
    -webkit-line-clamp: 4;
    line-clamp: 4;
  }
}

.partners__card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 12px;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.08));
  border: 1px solid #f1eef1;
}
.partners__header {
  display: flex;
  align-items: center;
}
.partners__header a {
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
}
.partners__header h4 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 133%;
}
.partners__header small {
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.32);
  font-weight: 500;
}
.partners__header section {
  border-bottom: 1px solid #f1eef1;
  width: 100%;
  padding-bottom: 10px;
  margin-left: 20px;
}
.partners__social {
  margin-top: 1rem;
}
.partners--dark-img {
  background-color: #222;
}
.partners__body {
  padding-top: 20px;
}
.partners__body p {
  line-height: 137%;
  margin-bottom: 0.5rem;
}
.partners__body p:last-child {
  margin-bottom: 0;
}
.partners__footer {
  line-height: 137%;
  padding-top: 0.8rem;
  display: block;
  color: #076775;
  text-decoration: none;
}

.team__card {
  text-align: center;
  margin-top: 5rem;
}
.team__card h4 {
  margin-top: 1rem;
}
.team__card small {
  font-weight: 500;
  color: #545454;
  margin-top: 6px;
  display: block;
}
.team__image {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team__social {
  margin-top: 1rem;
}

.home__header {
  background-color: #076775;
  color: #fdfcfc;
  position: relative;
  overflow: hidden;
}
.home__header .container {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 719px) {
  .home__header .container {
    justify-content: center;
  }
  .home__header figure {
    display: none;
  }
}
.home__header figure {
  position: absolute;
  top: 0;
  left: 0;
}
.home__header section {
  padding: 20% 0;
  max-width: 625px;
  z-index: 10;
}
.home__header h2 {
  margin-top: 0;
  font-size: 2rem;
  line-height: 150%;
  margin-bottom: 1rem;
  font-weight: 500;
}
.home__header p {
  line-height: 150%;
  margin-bottom: 2rem;
}
.home__page-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4.3rem;
  padding-bottom: 5rem;
}
@media screen and (max-width: 719px) {
  .home__page-links {
    justify-content: center;
  }
}
.home__page-links section {
  max-width: 512px;
  width: 40%;
}
@media screen and (max-width: 719px) {
  .home__page-links section {
    width: 100%;
  }
  .home__page-links section:first-of-type {
    margin-bottom: 2rem;
  }
}
.home__page-links h2 {
  max-width: 260px;
  margin-bottom: 16px;
}
.home__page-links p {
  font-weight: 500;
  font-size: 16px;
  line-height: 156%;
  margin-top: 0.6rem;
}
.home__page-links a {
  margin-top: 1rem;
}
.home__card-image {
  background-color: white;
  -o-object-fit: contain;
     object-fit: contain;
}

.datasets__wrapper {
  display: grid;
  grid-template-columns: 312px 1fr;
  grid-template-rows: -webkit-max-content 1fr;
  grid-template-rows: max-content 1fr;
  margin-top: 2.5rem;
  gap: 2rem;
}
@media screen and (max-width: 979px) {
  .datasets__wrapper {
    display: block;
  }
}
.datasets__right {
  grid-column: 2/3;
  grid-row: 1/3;
}
.datasets__right .search {
  margin-top: 2.5rem;
}
.datasets__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.datasets__sort {
  display: inline-flex;
}
.datasets__sort button {
  margin-left: 1rem;
}

.tender .container {
  display: flex;
  flex-direction: column;
}
.tender .mega-header p {
  font-size: 12px;
}
.tender .mega-header p:first-of-type {
  padding-top: 10px;
}
.tender .heading-w-line {
  max-width: 250px;
}
.tender__heading {
  display: grid;
  grid-template-columns: 1fr 121px;
}
@media screen and (max-width: 479px) {
  .tender__heading {
    grid-template-columns: 1fr;
  }
}
.tender .dlist {
  margin-top: 1.5rem;
}
.tender .btn-primary {
  margin: 0;
  align-self: flex-end;
}
@media screen and (max-width: 479px) {
  .tender .btn-primary {
    margin-top: 1rem;
  }
}
.tender .total-datasets {
  width: 250px;
  margin-bottom: 1.25rem;
}
.tender__image {
  margin-top: 1.5rem;
  width: 300px;
  padding: 0 2rem;
  border: 1px solid #e9fbf0;
  border-radius: 6px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.14);
  background-color: white;
  display: grid;
}
.tender__image img {
  -o-object-fit: contain;
     object-fit: contain;
}
.tender__item {
  margin-top: 3rem;
}
.tender__item dt {
  max-width: 25rem;
}
.tender__docs {
  margin-top: 3rem;
}
.tender__docs dt {
  max-width: 15rem;
}
.tender__basic {
  margin-top: 1.5rem;
}
.tender__basic dt {
  max-width: 12rem;
}
.tender__map {
  display: grid;
  grid-template-rows: -webkit-max-content 1fr;
  grid-template-rows: max-content 1fr;
}
.tender__map:last-child {
  margin-left: 1.5rem;
}
@media screen and (max-width: 979px) {
  .tender__map {
    margin-top: 1rem;
    justify-self: center;
  }
  .tender__map:last-child {
    margin-left: 0;
  }
}
.tender .heading-3 svg {
  margin-bottom: -3px;
  margin-right: 10px;
}

.kpi .carousel {
  margin-top: 0;
}
.kpi__heading {
  margin-top: 2.5rem;
  font-weight: 500;
}
.kpi__wrapper {
  display: grid;
  grid-template-columns: 312px 1fr;
  grid-template-rows: -webkit-max-content 1fr;
  grid-template-rows: max-content 1fr;
  margin-top: 2.5rem;
  gap: 2rem;
}
@media screen and (max-width: 979px) {
  .kpi__wrapper {
    display: block;
  }
}
.kpi__summary {
  grid-column: 1/2;
  padding: 20px 14px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #f7fdf9;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.14);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 1rem;
  margin-right: 2rem;
}
@media screen and (max-width: 979px) {
  .kpi__summary {
    margin: 2rem auto;
  }
}
.kpi__summary strong {
  margin-top: 2rem;
  display: block;
  line-height: 135%;
  font-size: 1.5rem;
}
.kpi__summary p {
  margin-top: 4px;
  line-height: 135%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
}
.kpi__explain {
  margin-top: 14px;
  font-weight: normal;
  line-height: 1.5;
}
.kpi .heading-w-line {
  max-width: 470px;
}
.kpi__list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(260px, 100%), 1fr));
  gap: 20px;
}
.kpi-item {
  background-color: white;
  min-height: 286px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  border-radius: 1px solid #f7fdf9;
  transition: box-shadow 250ms ease;
}
.kpi-item:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 1349px) {
  .kpi-item {
    width: 48%;
  }
}
@media screen and (max-width: 719px) {
  .kpi-item {
    width: 100%;
  }
}
.kpi-item__link {
  text-decoration: none;
  padding: 1.25rem 1rem;
  display: block;
  height: 100%;
}
.kpi-item__link section {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(2, -webkit-max-content) 1fr;
  grid-template-rows: repeat(2, max-content) 1fr;
}
.kpi-item__heading, .kpi-item__desc {
  line-height: 156%;
  overflow: hidden;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.kpi-item__heading {
  font-weight: 500;
}
.kpi-item__desc {
  color: #545454;
  margin-top: 0.5rem;
}
.kpi-item__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: flex-end;
}
.kpi-item__tags li {
  width: 49%;
  height: 24px;
  font-size: 10px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}
.kpi-item__tags li[data-id=tag-0] {
  color: #6544c1;
  background-color: #e9e4f6;
}
.kpi-item__tags li[data-id=tag-1] {
  color: #080da0;
  background-color: #dde9f8;
}
.kpi-item__tags li[data-id=tag-2] {
  color: #a38000;
  background-color: #f2f2f2;
}
.kpi-item__tags li[data-id=tag-3] {
  color: #982f55;
  background-color: #f0e0e6;
}

.analysis__heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 479px) {
  .analysis__heading {
    grid-template-columns: 1fr;
  }
  .analysis__heading .btn-primary {
    margin-top: 1rem;
  }
}
.analysis__content {
  display: grid;
  grid-template-columns: 312px 1fr;
  margin-top: 1.5rem;
  gap: 2rem;
}
@media screen and (max-width: 979px) {
  .analysis__content {
    grid-template-columns: 1fr;
  }
}
.analysis .filters {
  height: 100%;
  max-height: 700px;
}
.analysis .viz {
  background-color: white;
  border: 1px solid #f7fdf9;
  border-radius: 6px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.14);
  height: 700px;
}
.analysis .viz__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
@media screen and (max-width: 479px) {
  .analysis .viz__header {
    display: block;
  }
}
.analysis .viz__tabs {
  display: flex;
  align-items: center;
}
.analysis .viz__tabs li {
  min-width: 0;
}
.analysis .viz__tabs li:first-of-type {
  margin-right: 1.25rem;
}
.analysis .viz__tabs a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  padding-bottom: 5px;
  min-width: 120%;
  display: block;
  text-align: center;
  border-bottom: 2px solid transparent;
}
.analysis .viz__tabs a svg {
  margin-bottom: -3px;
  margin-right: 5px;
}
.analysis .viz__tabs a svg.svg-stroke {
  stroke: #0a0a0a;
}
.analysis .viz__tabs a[aria-selected=true] {
  color: #076775;
  border-bottom: 2px solid #076775;
}
.analysis .viz__tabs a[aria-selected=true] svg {
  fill: #076775;
}
.analysis .viz__tabs a[aria-selected=true] svg.svg-stroke {
  stroke: #076775;
}
.analysis .viz figure {
  margin: 1rem 2rem;
}
.analysis__news {
  margin-top: 2rem;
}
.analysis__news > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.analysis__news article {
  margin-top: 1.25rem;
  padding: 1.5rem;
  background-color: white;
  border: 1px solid #f7fdf9;
  border-radius: 6px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.14);
  width: 48%;
}
@media screen and (max-width: 719px) {
  .analysis__news article {
    width: 100%;
  }
}
.analysis__news h4 {
  font-weight: 500;
  line-height: 150%;
}
.analysis__news p {
  line-height: 156%;
  color: #545454;
  margin-top: 1rem;
}

.stories .container {
  padding-top: 1.5rem;
}
.stories .heading-w-line {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
@media screen and (max-width: 479px) {
  .stories .btn-primary {
    margin-top: 1rem;
  }
}
.stories__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
}
.stories__team {
  margin-top: 2.5rem;
}
.stories__team .stories__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(260px, 100%), 1fr));
  gap: 20px;
}
.stories__team .stories-card {
  padding: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.stories__team .stories-card__content {
  padding: 1rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.stories__team .stories-card__footer {
  align-self: flex-start;
}
@media screen and (max-width: 979px) {
  .stories__team .stories-card {
    width: 49%;
  }
}
@media screen and (max-width: 479px) {
  .stories__team .stories-card {
    width: 100%;
  }
}
.stories__team .stories-card a {
  margin-right: 0;
  max-width: 100%;
  width: 100%;
  display: block;
}
.stories__team .stories-card img {
  max-height: 219px;
  width: 100%;
  border-radius: 6px 6px 0 0;
}
.stories__team .stories-card h3 {
  margin-top: 1.25rem;
}
.stories__team .stories-card p {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}
.stories a {
  text-decoration: none;
}

.about .partners {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: space-between;
  align-items: stretch;
}
.about .partners li {
  width: 48%;
}
@media screen and (max-width: 979px) {
  .about .partners li {
    width: 100%;
  }
  .about .partners li:first-child {
    margin-bottom: 1rem;
  }
}
.about .partners li > div {
  display: grid;
  height: 100%;
  grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
  grid-template-rows: max-content 1fr max-content;
}
.about__team {
  margin-top: 4rem;
}
.about__team h3 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.32);
}
.about__team h3 span {
  background: #4965b2;
  border-radius: 2px;
  width: 3rem;
  display: inline-block;
  height: 3px;
  margin-right: 0.5rem;
}
.about__team p {
  font-size: 2.5rem;
  line-height: 130%;
  margin-top: 10px;
}
.about__team ul {
  margin-top: 3rem;
  background-color: white;
  border-radius: 12px;
  border: 1px solid #f1eef1;
  padding: 0 6rem 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about__team li {
  width: 33.3%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1199px) {
  .about__team ul {
    padding: 0 3rem 5rem;
  }
}
@media screen and (max-width: 979px) {
  .about__team li {
    width: 50%;
  }
}
@media screen and (max-width: 719px) {
  .about__team ul {
    padding: 0 1rem 5rem;
  }
  .about__team li img {
    width: 170px;
    height: 170px;
  }
}
@media screen and (max-width: 479px) {
  .about__team li img {
    width: 120px;
    height: 120px;
  }
}