@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

* {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}
*:focus {
  scroll-padding-block-end: 8vh;
}

:focus-visible {
  outline-width: 3px;
  outline-color: #78aeda;
  outline-style: solid;
}

:root {
  /* Base Settings */
  --base-spacing: 1em;
  --base-padding: 1em;
  --base-easing: cubic-bezier(0.85, 0, 0.15, 1);
  --base-animation-duration: 1ms;
  /* A commonly reused shadow */
  --shadow-fat: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  /* the background that you can see when you pull on one of the sides of the website */
}
@media screen and (min-width: 1200px) {
  :root {
    --shadow-fat: 0 2px 5px 0 rgba(0, 0, 0, 0.06),
      0 15px 42px 0 rgba(0, 0, 0, 0.04);
  }
}

/* Add Animation progressively; Only make durations longer when there is no preferences */
@media (prefers-reduced-motion: no-preference) {
  :root {
    --base-animation-duration: 350ms;
  }
}
::-moz-selection {
  background-color: var(--color-accent-700);
  color: var(--color-accent-100);
}
::selection {
  background-color: var(--color-accent-700);
  color: var(--color-accent-100);
}

.scroll-stop {
  overflow: hidden;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 720px) {
  .container {
    width: 700px;
  }
}
@media screen and (min-width: 980px) {
  .container {
    width: 900px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}
@media screen and (min-width: 1350px) {
  .container {
    width: 1246px;
  }
}

.page-wrap {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

b,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

body {
  --site-border: 0.5em;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  transition: background-color var(--base-animation-duration) var(--base-easing);
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.87);
  min-height: 100vh;
}

a {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: all;
          text-decoration-skip-ink: all;
  text-decoration-thickness: 15%;
}

a {
  color: inherit;
  -webkit-text-decoration-color: var(--color-highlight);
          text-decoration-color: var(--color-highlight);
}
a:hover {
  -webkit-text-decoration-color: var(--color-accent-700);
          text-decoration-color: var(--color-accent-700);
}
a.button, a.c2a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

em,
i {
  font-style: italic;
  font-variation-settings: "ital" 1;
}

strong,
b {
  font-weight: bolder;
  font-weight: 550;
}

button {
  cursor: pointer;
}

/* Buttons */
.button-link {
  padding: 0.7rem 1rem !important;
  background: #045305;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  margin: 0.8rem 0 0.8rem 1rem;
}
.button-link svg {
  margin-right: 1rem;
}

.button__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__icon > svg {
  height: 100%;
  width: auto;
}

.button:hover {
  --darker: 5%;
  cursor: pointer;
}

.button:focus,
.button:active {
  --darker: 10%;
}

.sr-only:not(:where(:focus, :active, :focus-within)) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.label-green {
  line-height: 140%;
  font-weight: 500;
  color: #045305;
}

.header {
  background-color: #2c592c;
  color: #fdfcfc;
  padding-top: 1.25rem;
}
.header a {
  text-decoration: none;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header__brand {
  display: flex;
  align-items: center;
}
.header__brand a {
  display: inline-flex;
}
.header__brand a svg {
  margin-right: 6px;
}
.header__brand h1 {
  font-size: 1.4rem;
  font-weight: 500;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.header__divider {
  border: 1px solid rgba(255, 255, 255, 0.7);
  margin: 0 1rem;
  height: 2rem;
}
@media screen and (max-width: 1199px) {
  .header {
    display: none;
    padding-top: 0;
  }
}

.navbar {
  position: relative;
}
.navbar__links {
  display: flex;
  align-content: center;
}
.navbar__item {
  padding: 1rem;
  align-items: center;
  display: flex;
}
.navbar__item:hover {
  background-color: #3d7b3d;
}
.navbar__item--active {
  box-shadow: inset 0 -2px 0 0 white;
  font-weight: 500;
}
@media screen and (max-width: 1199px) {
  .navbar__item--active {
    box-shadow: inset 3px 0 0 0 white;
  }
}
.navbar__container {
  display: flex;
}
.navbar__nested {
  display: block;
  position: absolute;
  background: #ed8787;
  top: 120%;
  width: 11rem;
  border-radius: 4px;
  font-size: 0.8rem;
}
.navbar__nested li {
  position: relative;
}
.navbar__nested li a {
  text-decoration: underline;
  padding: 0.7rem 1rem 0.7rem 1rem;
}
.navbar__nested li a span {
  text-decoration: none;
  position: absolute;
  right: 1rem;
}
.navbar__nested li:hover {
  background-color: #f4b4b4;
}
.navbar__nested li:hover a {
  background-color: inherit;
}
.navbar__nested::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 17px solid #ed8787;
  top: -10px;
  left: 10%;
}
.navbar__item[type=button]::after {
  border-bottom: 2px solid #0b0c0c;
  border-bottom-color: #0b0c0c;
  border-right: 2px solid #0b0c0c;
  border-right-color: #0b0c0c;
  content: " ";
  display: inline-block;
  height: 8px;
  margin: 0 2px 0 1rem;
  transform: translateY(-35%) rotate(45deg);
  vertical-align: middle;
  width: 8px;
  border-color: #fff;
}

.m-header {
  display: none;
  min-height: 4rem;
}
@media screen and (max-width: 1199px) {
  .m-header {
    display: block;
    align-items: center;
  }
}
.m-header .container {
  padding: 1rem;
  justify-content: flex-start;
}
.m-header__button {
  margin-right: 1rem;
}
.m-header__link {
  justify-self: flex-end;
}
@media screen and (max-width: 479px) {
  .m-header__link {
    display: none;
  }
}

.m-navbar {
  transform: translateX(-100%);
  transition: transform 300ms ease-in;
  position: fixed;
  top: 0;
  background: #2c592c;
  z-index: 1000;
  height: 100%;
  min-width: 320px;
  color: #fdfcfc;
}
.m-navbar a {
  text-decoration: none;
}
.m-navbar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #045305;
  height: 4rem;
  padding-left: 1.5rem;
}
.m-navbar__header button {
  height: 100%;
  width: 4rem;
  font-size: 1.5rem;
}
.m-navbar__item {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.32);
  width: 100%;
  line-height: 2rem;
}
.m-navbar__item[type=button]::after {
  border-bottom: 2px solid #0b0c0c;
  border-bottom-color: #0b0c0c;
  border-right: 2px solid #0b0c0c;
  border-right-color: #0b0c0c;
  content: " ";
  display: inline-block;
  height: 8px;
  margin: 0 2px 0 1rem;
  transform: translateY(-35%) rotate(45deg);
  vertical-align: middle;
  width: 8px;
  border-color: #fff;
  transition: transform 300ms ease;
}
.m-navbar__item[aria-expanded=true] {
  background-color: #045305;
}
.m-navbar__item[aria-expanded=true]::after {
  transform: rotate(-135deg);
}
.m-navbar__item[aria-expanded=true] + ul {
  background-color: #045305;
}
.m-navbar__nested a {
  padding: 1rem 1.5rem;
  display: block;
  padding-left: 2rem;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 479px) {
  .m-navbar {
    min-width: 248px;
  }
}
.m-navbar--active {
  transform: translateX(0%);
}

.navbar-backdrop {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 990;
}
.navbar-backdrop--active {
  display: block;
}

.mega-header {
  background-color: #2c592c;
  color: #fdfcfc;
}
.mega-header .container {
  padding-top: 4.7rem;
  display: block;
}
@media screen and (max-width: 1199px) {
  .mega-header .container {
    padding-top: 3rem;
  }
}
.mega-header h2 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.6rem;
  grid-column: 2/3;
  grid-row: 1/2;
}
.mega-header p {
  font-size: 1rem;
  line-height: 1.5;
  grid-column: 2/3;
  grid-row: 2/3;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}
@media screen and (max-width: 479px) {
  .mega-header p {
    grid-column: 1/3;
  }
}

.skip-to-content {
  transform: translateY(0);
  background-color: #fff;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  -webkit-padding-before: 1em;
          padding-block-start: 1em;
  -webkit-padding-after: 1.5em;
          padding-block-end: 1.5em;
  padding-inline: var(--site-padding);
  z-index: 1;
}
@media screen and (min-width: 720px) {
  .skip-to-content {
    display: flex;
    justify-content: space-between;
    gap: 2em;
  }
}
.skip-to-content a {
  font-size: 0.85em;
}
@media screen and (min-width: 720px) {
  .skip-to-content a {
    font-size: 1em;
  }
}
.skip-to-content:not(:where(:active, :focus, :focus-within)) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.skip-to-content:where(:active, :focus, :focus-within) + .site-bar {
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.list {
  padding-bottom: 1.5rem;
  border-bottom: 2px solid rgba(208, 205, 208, 0.5);
  padding-left: 0;
}
.list__item {
  margin-top: 1rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.14);
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  background-color: white;
  position: relative;
  z-index: 10;
}

.pagination {
  margin-top: 1rem;
  padding: 1.5rem;
  background-color: white;
  border-radius: 12px;
  border: 1px solid #f2eff2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@supports (display: grid) {
  .pagination {
    display: grid;
    grid-template-columns: 1fr repeat(3, -webkit-max-content);
    grid-template-columns: 1fr repeat(3, max-content);
  }
  @media screen and (max-width: 719px) {
    .pagination {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
}
.pagination__rows {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.pagination__rows .select-comp {
  width: 80px;
}
.pagination__jump {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding-right: 20px;
}
@media screen and (max-width: 719px) {
  .pagination__jump {
    border-right: none;
    justify-self: flex-end;
    padding-right: 0;
  }
}
.pagination__jump input {
  width: 56px;
  height: 40px;
  border-radius: 4px;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.12);
  text-align: center;
}
.pagination__control {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 719px) {
  .pagination__control {
    grid-row: 2/3;
    grid-column: 1/3;
    justify-self: center;
    padding-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    justify-content: space-between;
    margin-left: 0;
  }
}
@media screen and (max-width: 479px) {
  .pagination__control {
    justify-content: space-between;
  }
}
.pagination__control button {
  border-radius: 4px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.pagination__control span {
  line-height: 140%;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 719px) {
  .pagination__control span {
    margin: 0 5px;
  }
}
.pagination__back {
  background-color: rgba(0, 0, 0, 0.08);
  margin-left: 1rem;
}
.pagination__back:active {
  transform: scale(0.9);
  background-color: rgba(0, 0, 0, 0.08);
}
.pagination__back svg {
  transform: rotate(180deg);
  fill: #afabb0;
}
.pagination__next {
  margin-left: 0.5rem;
  background-color: #045305;
}
.pagination__next:active {
  transform: scale(0.9);
  background-color: #022202;
}
.pagination__next svg {
  fill: white;
}

.select-comp {
  display: block;
  font-size: 1rem;
  font-family: sans-serif;
  color: #444;
  line-height: 1.5;
  padding: 0.6rem 1.7rem 0.5rem 0.5rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.55152 0.591299L5.00041 4.04019L8.4493 0.591299C8.79596 0.244632 9.35596 0.244632 9.70263 0.591299C10.0493 0.937965 10.0493 1.49797 9.70263 1.84463L5.62263 5.92463C5.27596 6.2713 4.71596 6.2713 4.3693 5.92463L0.289297 1.84463C-0.0573698 1.49797 -0.0573698 0.937965 0.289297 0.591299C0.635964 0.253521 1.20485 0.244632 1.55152 0.591299Z' fill='%236C666E'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat, repeat;
  background-position: right 20% top 50%, 0 0;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

/* Hide arrow icon in IE browsers */
.select-comp::-ms-expand {
  display: none;
}

/* Hover style */
.select-comp:hover {
  border-color: #888;
}

/* Focus style */
.select-comp:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px #3b99fc;
  outline: none;
}

/* Set options to normal weight */
.select-comp option {
  font-weight: normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir=rtl] .select-comp,
:root:lang(ar) .select-comp,
:root:lang(iw) .select-comp {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}

/* Disabled styles */
.select-comp:disabled,
.select-comp[aria-disabled=true] {
  color: graytext;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.55152 0.591299L5.00041 4.04019L8.4493 0.591299C8.79596 0.244632 9.35596 0.244632 9.70263 0.591299C10.0493 0.937965 10.0493 1.49797 9.70263 1.84463L5.62263 5.92463C5.27596 6.2713 4.71596 6.2713 4.3693 5.92463L0.289297 1.84463C-0.0573698 1.49797 -0.0573698 0.937965 0.289297 0.591299C0.635964 0.253521 1.20485 0.244632 1.55152 0.591299Z' fill='%236C666E'/%3E%3C/svg%3E%0A"), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

.select-comp:disabled:hover,
.select-comp[aria-disabled=true] {
  border-color: #aaa;
}

.total-datasets {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 140%;
  border-bottom: 1px solid #afabb0;
  min-width: 200px;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  position: relative;
  flex-grow: 1;
}
.search__clear {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}
.search__clear button {
  cursor: pointer;
}
.search__submit {
  padding: 0.6rem 3.5rem;
  background-color: #045305;
  color: white;
  border-radius: 4px;
  transform: translateX(-3px);
  height: 100%;
}
@media screen and (max-width: 719px) {
  .search__submit {
    padding: 0.6rem 1.2rem;
  }
}
.search__clear {
  padding: 13.1px;
  color: #afabb0;
}
.search__input {
  border: 1px solid #2c592c;
  border-radius: 4px;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.08);
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
  background-color: white;
  transition: background-color 150ms ease;
  width: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5 14.5L10.5 10.5M6.5 12.5C3.18629 12.5 0.5 9.81371 0.5 6.5C0.5 3.18629 3.18629 0.5 6.5 0.5C9.81371 0.5 12.5 3.18629 12.5 6.5C12.5 9.81371 9.81371 12.5 6.5 12.5Z' stroke='%23075E54'/%3E%3C/svg%3E%0A");
  background-position: left 1rem top 50%, 0 0;
  background-repeat: no-repeat, repeat;
}
.search__input:not([value=""]) {
  background-color: white;
}
.search__input:not([value=""]) + .form__buttons {
  display: block;
}

.data-alter {
  padding: 1rem 1.5rem;
  background-color: white;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.08));
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 980px) {
  .data-alter {
    display: none;
  }
}
.data-alter__text {
  line-height: 130%;
  font-size: 1.25rem;
  font-weight: 500;
}
@media screen and (max-width: 719px) {
  .data-alter__text {
    font-size: 1rem;
  }
}
.data-alter__buttons button {
  padding: 13px 34px;
  border: 2px solid #4864b1;
  border-radius: 4px;
  color: #4864b1;
  font-weight: 500;
  line-height: 1.6;
  vertical-align: middle;
  display: inline-flex;
}
@media screen and (max-width: 719px) {
  .data-alter__buttons button {
    padding: 8px 16px;
    font-size: 0.8rem;
    line-height: 1.8;
  }
}
.data-alter__buttons button:first-child {
  margin-right: 12px;
}
@media screen and (max-width: 479px) {
  .data-alter__buttons {
    display: none;
  }
}
.data-alter__svg {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}
.data-alter__mobile {
  padding: 10px;
}
@media screen and (min-width: 480px) {
  .data-alter__mobile {
    display: none;
  }
}
.data-alter__sort {
  background-color: white;
  height: 302px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  border-radius: 12px 12px 0px 0px;
  transform: translateY(100%);
  transition: transform 200ms ease;
}
.data-alter__sort--active {
  transform: translateY(0);
}
.data-alter__sort .sort__header {
  background-color: #f1eef1;
  padding: 1.5rem;
  border-bottom: 0px 1px 4px rgba(0, 0, 0, 0.14);
  border-radius: 12px 12px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.data-alter__sort .sort__header h3 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.3;
}
.data-alter__sort .sort__header button {
  width: 4rem;
  font-size: 1.5rem;
  line-height: 1.5;
}
@media screen and (max-width: 479px) {
  .data-alter__sort .sort__header h3, .data-alter__sort .sort__header button {
    line-height: 1rem;
  }
}
.data-alter__sort fieldset {
  padding-left: 1.5rem;
}
.data-alter__sort fieldset label {
  display: block;
  margin-top: 0.5rem;
  line-height: 1.4;
}
.data-alter__sort fieldset label:first-of-type {
  margin-top: 1rem;
}
.data-alter__sort fieldset input {
  margin-right: 0.75rem;
  padding: 6px 0;
  accent-color: #fa5c81;
  transform: scale(1.3);
}
.data-alter__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 990;
  transform: translateY(100%);
}
.data-alter__backdrop--active {
  transform: translateY(0);
}

.sort {
  display: flex;
  align-items: center;
}
.sort__label {
  white-space: nowrap;
  font-size: 12px;
  line-height: 192%;
  color: #6d676f;
}
.sort__select {
  background-position: right 10% top 55%, 0 0;
  font-size: 0.9rem;
  border: 1px solid #2c592c;
  color: #2c592c;
  font-weight: bold;
}
.sort__select option {
  color: rgba(0, 0, 0, 0.87);
}
@media screen and (max-width: 979px) {
  .sort {
    display: none;
  }
}

.card__link {
  text-decoration: none;
  padding: 1.5rem;
  display: block;
  background-color: white;
  border-radius: 6px;
  transition: transform 200ms ease;
  display: flex;
}
.card__link > figure {
  margin-right: 1rem;
}
.card__image {
  width: 60px;
  width: 60px;
}
.card__heading {
  font-size: 1rem;
  color: #4a434c;
}
.card__date {
  font-size: 10px;
  line-height: 25px;
  color: #6d676f;
  margin-bottom: 10px;
  display: block;
}
.card__content {
  border-top: 2px solid #f1eef1;
  padding-top: 1.25rem;
  display: flex;
  flex-wrap: wrap;
}
.card__content h4 {
  line-height: 140%;
  font-weight: 500;
}
.card__content small {
  font-size: 12px;
  color: #4a434c;
}
.card__id {
  margin-right: 3rem;
}
.card__name {
  margin-top: 1.25rem;
  width: 100%;
}
@media screen and (max-width: 479px) {
  .card__value {
    width: 100%;
    margin-top: 1.25rem;
  }
}
.card__title {
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 135%;
  font-size: 0.8rem;
  font-weight: 500;
}
.card__details {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.87);
  line-height: 140%;
  font-size: 1rem;
  overflow: hidden;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
@media screen and (max-width: 479px) {
  .card__details {
    -webkit-line-clamp: 4;
    line-clamp: 4;
  }
}

.dlist {
  border: 1px solid #e9fbf0;
  border-radius: 6px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.14);
  background-color: white;
}
.dlist div {
  display: flex;
  align-items: center;
  padding: 1rem 1.25rem;
}
.dlist div:nth-child(2n) {
  background-color: #f7fdf9;
}
.dlist__title {
  font-weight: 500;
  line-height: 1.25rem;
  width: 100%;
  margin-right: 1rem;
}
.dlist__desc {
  text-align: left;
  line-height: 150%;
  width: 100%;
  overflow-x: auto;
}

.filters {
  scrollbar-width: thin;
  background-color: white;
  margin-right: 2rem;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.08));
  border: 1px solid #f1eef1;
  border-radius: 12px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-height: 776px;
  padding: 1.5rem;
  overflow-y: auto;
}
.filters::-webkit-scrollbar {
  width: 5px;
}
@media screen and (max-width: 979px) {
  .filters {
    display: none;
  }
}
.filters h3 {
  font-weight: 500;
  line-height: 130%;
  font-size: 1.25rem;
  padding-bottom: 1.1rem;
  border-bottom: 1px solid #f2eff2;
}
.filters details {
  margin-top: 1rem;
  background: #d0cdd0;
  border-radius: 4px;
  text-transform: capitalize;
}
.filters details[open] {
  border-radius: 4px 4px 0px 0px;
}
.filters details[open] > summary::after {
  transform: rotate(-180deg);
}
.filters details summary {
  list-style: none;
  padding: 13px 12px;
  font-weight: 500;
  line-height: 140%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.filters details summary::marker {
  display: none;
}
.filters details summary::after {
  content: "▾";
  transition: transform 150ms ease;
  color: #8f8990;
}
.filters__button {
  background-color: white;
  display: block;
  width: 100%;
  text-align: left;
  padding: 12px;
  border: 1px solid #d1cdd1;
  border-top: none;
  cursor: pointer;
  transition: background-color 150ms ease;
}
.filters__button:hover {
  background-color: #f1eef1;
}
.filters__button:last-child {
  border-radius: 0px 0px 4px 4px;
}
.filters--active {
  background-color: #b8c9ff;
}
.filters--active:hover {
  background-color: #c2d1ff;
}

.datasets__wrapper {
  display: grid;
  grid-template-columns: 312px 1fr;
  margin-top: 2.5rem;
}
@media screen and (max-width: 979px) {
  .datasets__wrapper {
    display: block;
  }
}
.datasets__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.datasets__sort {
  display: inline-flex;
}

.tender .container {
  display: flex;
  flex-direction: column;
}
.tender .button-link {
  margin: 0;
  align-self: flex-end;
}
.tender .total-datasets {
  width: 250px;
  margin-bottom: 1.25rem;
}
.tender__basic {
  display: flex;
}
.tender__basic dt {
  max-width: 12rem;
}
.tender__basic figure {
  height: calc(100% - 3.5rem);
  border: 1px solid #e9fbf0;
  border-radius: 6px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.14);
  background-color: white;
  display: grid;
}
.tender__basic figure img {
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 979px) {
  .tender__basic {
    flex-direction: column;
  }
}
.tender__map:last-child {
  margin-left: 1.5rem;
}
@media screen and (max-width: 979px) {
  .tender__map {
    margin-top: 1rem;
    justify-self: center;
  }
  .tender__map:last-child {
    margin-left: 0;
  }
}
.tender__item {
  margin-top: 3rem;
}
.tender__item dt {
  max-width: 25rem;
}